		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #111;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------네비게이션-------*/
		
				
			.page_01 header {
				width: 100%;
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.8);
				z-index :99999;
			}
			
			.logo {
				width: 78px;
				height: 54px;
				margin: 0px auto;
				position: relative;
			}		
			
			.logo img {
				width: 100%;
				vertical-align: bottom;
				border: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-bottom: -27px;
				margin-left: -39px;
			}

			ul.nav {
				width: 40%;
				margin: 0 auto;
				margin-top: 40px;
				line-height: 49px;
				text-align:center;
				overflow: hidden; 
				letter-spacing: 0.1em;
				text-indent: 0.1em;
			}

			.nav .home, .brand, .menu, .news, .store {
				width: 13.6%;
				float: left;
				color: #fff;
			}
			
			.store_detail li:nth-child(2) {
				font-size: 0.5rem;
				line-height: 15px;
				padding-top: 10px;
			}
			
			.nav a {
				display: block;	
				color: #fff;	
			}
			
			.nav .mar {
				margin-right: 8%;
			}
			
			.nav_hover {
				border-bottom: 1px solid transparent;				
			}
			
			.nav_hover:hover {
				color: #f7e18a;
				border-bottom: 1px solid #f7e18a;
			}		
			
			li ul {
				font-size: 0.75rem;
				height: 0px;
				-ms-transition-duration: 0.7s;
				-webkit-transition-duration: 0.7s;
				-moz-transition-duration: 0.7s;
				-o-transition-duration: 0.7s;
				transition-duration: 0.7s;		
			}
			
			header:hover li ul {
				height: 250px;
				transition-duration: 0.7s;
			}
		
			.detail_hover:hover {
			color: #f7e18a;
			}
			
			
			.join_content {
				color: #fff;
				background: url('../img/agreement/497136.jpg') no-repeat;
				background-size: cover;
				background-attachment: fixed;
				width: 100%;
				height: 800px;
				margin: 0 auto;
				text-align: center;
				border-bottom: 1px solid orange;
				padding-top: 250px;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
				line-height: 1.5;
				font-size: 1rem;
			}
			
			.join_content span {
				width: 20%;
				margin: 0 auto;
				margin-top: 8%;
				display: block;
				font-weight: bold;
				font-size: 3rem;
				padding: 1%;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
			}

		/* ---------------------------------------약관1-------*/
		.page_02 {
			width: 100%;
		}
		
		.page_02 .route {
			margin: 40px 2%;
			color: #666;
		}
		
		.membership_title_box {
			width: 60%;
			height: 100px;
			color: #fff;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 25px;
		}
		
		.page_02 .title_01 {
			font-size: 2rem;
			height: 50px;
		}
		
		.page_02 .title_02 {
			height: 20px;
			text-align: right;	
			font-size: 0.75rem;
			
		}
		
		.page_02 .title_03 {
			text-align: left;
			font-size: 1rem;
			height: 30px;
		}
		
		.membership_content_box {
			width: 60%;
			height: 300px;
			background: #fff;
			margin: 0 auto;
			text-align: justify;
			overflow: auto;
		}
		
		.membership_content_box .content_01 {
			line-height: 2;
			font-size: 1.2em;
			padding: 30px;
		}
		
		.page_02 .check {
			width: 60%;
			height: 50px;
			line-height: 50px;
			color: #fff;
			text-align: right;
			margin: 0 auto;
			margin-bottom: 200px;
		}
		
		.page_02 .title_04 {
			font-size: 1.2em;
			
		}
		
		.page_02 .title_05 {
			font-size: 1.2em;
			
		}
		
		/* ---------------------------------------약관2-------*/

		.personal_title_box {
			width: 60%;
			height: 100px;
			color: #fff;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 25px;
		}
		
		
		.personal_content_box {
			width: 60%;
			height: 750px;
			background: #fff;
			margin: 0 auto;
			text-align: justify;
			overflow: auto;
		}
		
		.personal_content_box .content_02 {
			line-height: 2;
			padding: 30px;
			font-size: 1.2em;
		}

		
		/* ---------------------------------------유의사항-------*/
		
		 .page_02 .bottom {
			width: 100%;
			padding: 50px	 20%;
			margin: 0 auto;
			background: #fff;
			font-size: 1.2em;
			 margin-bottom: 200px;
		 }
		 
		 .page_02 .alert_box {
			 width: 60%;
			padding-top: 50px;
			margin: 0 auto;
		 }
		 
		 .alret_title {
			 margin-bottom: 20px;
			 font-size: 1.5em;
			 line-height: 1.5;
			 font-weight: bold;
		 }
		 
		 .alert_content_01 {
			 margin-bottom: 20px;
		 }
		 
		 .alert_content_02 {
		 }
		 
		 .btn {
			 width: 10%;
			 height: 50px;
			 line-height: 50px;
			 margin: 50px auto;
			 text-align: center;
			 background: #999;
			 color: #fff;
		 }
		 
		 .btn:hover {
			background: #000;
			color: #f7e18a;
			transition-duration: 2s;
		 }
		 
		 		
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75rem;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75rem;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel li {
			color: #fff;
			float: left;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		.image_time {
			overflow: hidden;
		}
		
		.image_time .time {
			float: left;
		}
	
		.image_time li {
			color: #fff;
			float: left;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		
		.image_time .time_content {
			line-height: 20px;
			float: left;
		}
		
		.time_content .p_01 {
		}
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75rem;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		