		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		ul li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #000;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------네비게이션-------*/
		
			.page_01 {
				width: 100%;
			}
						
			.page_01 header {
				width: 100%;
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.8);
				z-index :99999;
			}
			
			.logo {
				width: 78px;
				height: 54px;
				margin: 0px auto;
				position: relative;
			}		
			
			.logo img {
				width: 100%;
				vertical-align: bottom;
				border: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-bottom: -27px;
				margin-left: -39px;
			}

			ul.nav {
				width: 40%;
				margin: 0 auto;
				margin-top: 40px;
				line-height: 49px;
				text-align:center;
				overflow: hidden; 
				letter-spacing: 0.1em;
				text-indent: 0.1em;
			}

			.nav .home, .brand, .menu, .news, .store {
				width: 13.6%;
				float: left;
				color: #fff;
			}
			
			.store_detail li:nth-child(2) {
				font-size: 0.5rem;
				line-height: 15px;
				padding-top: 10px;
			}
			
			.nav a {
				display: block;	
				color: #fff;	
			}
			
			.nav .mar {
				margin-right: 8%;
			}
			
			.nav_hover {
				border-bottom: 1px solid transparent;				
			}
			
			.nav_hover:hover {
				color: #f7e18a;
				border-bottom: 1px solid #f7e18a;
			}		
			
			li ul {
				font-size: 0.75rem;
				height: 0px;
				-ms-transition-duration: 0.7s;
				-webkit-transition-duration: 0.7s;
				-moz-transition-duration: 0.7s;
				-o-transition-duration: 0.7s;
				transition-duration: 0.7s;		
			}
			
			header:hover li ul {
				height: 250px;
				transition-duration: 0.7s;
			}
		
			.detail_hover:hover {
			color: #f7e18a;
			}
			
			.customer_service_content {
				color: #fff;
				background: url('../img/store/store_back_02.jpg') no-repeat;
				background-size: cover;
				width: 100%;
				height: 800px;
				margin: 0 auto;
				text-align: center;
				border-bottom: 1px solid orange;
				padding-top: 250px;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
				line-height: 1.5;
				font-size: 1rem;
			}
			
			.customer_service_content span {
				width: 20%;
				margin: 0 auto;
				margin-top: 8%;
				display: block;
				font-weight: bold;
				font-size: 3rem;
				padding: 1%;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
			}

		
		/* ---------------------------------------FAQ-------*/
	
		.page_02 {
			width: 100%;
		}
		
		
		.page_02 .route {
			margin: 40px 2%;
			color: #666;
		}
		
		.service_cate {
			width: 100%;
			height: 50px;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
		}
		
		.service_cate .co {
			width: 10%;
			float: left;
			border: 1px solid #111;
			line-height: 50px;
			font-size: 1rem;
		}
		
		.service_cate .co a {
			display: block;
		}
		
		.service_cate .co a:hover {
			background: #222;
			color: #f7e18a;
			transition-duration: 0.7s;
		}
				
		.service_cate .faq {
			background: #222;
			margin-left: 30%;
		}
		
		.service_cate .faq a {
			color: #fff;
		}
		
		.service_cate .personal {
			background: #fff;
		}
		
		.service_cate .order {
			background: #fff;
		}
				
		.service_cate .member {
			background: #fff;
			margin-right: 30%;
		}
		
		.page_02 .service_title {
			font-size: 2rem;
			letter-spacing: 0.1rem;
			text-indent: 0.1rem;
			font-weight: bold;
			text-align: center;
			color: #fff;
			height: 150px;
			line-height: 150px;
		}
		
		.faq_con {
			width: 100%;
			overflow: hidden;
			background: #fff;
			color: #111;
		}
		
		.side_bar {
			width: 20%;
			background: #111;
			color: #fff;
			float: left;
			font-size: 1.5em;
			font-weight: bold;
			padding: 5% 2% 20% 5%;
		}
		
		.side_bar p {
			margin: 5% 0;
		}
		
		.side_bar .p_01 {
			font-size: 2rem;
			margin: 10% 0;
			color: #f7e18a;
			border: none;
			letter-spacing: 0.1rem;
			text-indent: 0.1rem;
		}
		
		.side_bar .p_02 a {
			color: #fff;
		}
		
		.side_bar a {
			display: block;
			padding: 5% 0;
		}
		
		.side_bar a:hover {
			background: #222;
			color: #fff;
			transition-duration: 0.5s;
		}
		
		.faq_main {
			width: 80%;
			float: left;
			margin: 5% auto;
		}
		 
		 .search_bar {
			 width: 60%;
			 height: 50px;
			 border: 1px solid #111;
			 margin: 2% auto;
			 overflow: hidden;
			 color: #111;
		 }
		
		.search_bar .co {
			float: left;		
			font-size: 1rem;	
			height: 50px;
			border: 1px solid #111;
			text-align: center;
			line-height: 48px;
		}
		
		.search_bar .filter {
			width: 10%;
		}
		.search_bar .search {
			width: 80%;
		}
		.search_bar .enter {
			width: 10%;
			background: #111;
		}
		
		.faq_content_box {
			width: 60%;
			margin: 5% auto;
		}
		
		.faq_content_box .title {
			font-size: 1.5rem;
			padding: 4% 0;
			border-bottom: 5px solid #111;
		}
		
		.faq_content_box .txt {
			font-size: 1.25rem;
		}
		
		.faq_content_box .txt label p {
			padding: 3%;
			border-bottom: 1px solid #111;
			color: #111;
			background: #eee;
		}
		
		.faq_content_box img {
			width: 3%;
			vertical-align: bottom;
			border: none;
			float: right;
		}
		
		
		/*------------------------ 체크박스 ---------*/
		.faq_content_box #toggle_01 {
			display: none;
		}
		
		.faq_content_box .hide_01 {
			width: 96%;
			font-size: 1rem;
			overflow: hidden;
			height: 0px;
			margin: 0 auto;
			transition-duration: 0.7s;
		}
		
		.hide_01 h3 {
			padding: 30px 0;
		}
		
		.hide_01 p {
			padding: 10px 0;
		}
		
		#toggle_01[type=checkbox]:checked ~.content_01 > .hide_01 {
			height: 250px;
			transition-duration: 0.7s;
		}		
				
		.faq_content_box #toggle_02 {
			display: none;
		}
		
		.faq_content_box .hide_02 {
			width: 96%;
			font-size: 1rem;
			overflow: hidden;
			height: 0px;
			margin: 0 auto;
			transition-duration: 0.7s;
		}
		
		.hide_02 h3 {
			padding: 30px 0;
		}
		
		.hide_02 p {
			padding: 10px 0;
		}
		
		#toggle_02[type=checkbox]:checked ~.content_02 > .hide_02 {
			height: 400px;
			transition-duration: 0.7s;
		}
		
		#toggle_02:hover {
			background: #333;
			color: #fff;
		}
		
		
		.faq_content_box #toggle_03 {
			display: none;
		}
		
		.faq_content_box .hide_03 {
			width: 96%;
			font-size: 1rem;
			overflow: hidden;
			height: 0px;
			margin: 0 auto;
			transition-duration: 0.7s;
		}
		
		.hide_03 p {
			padding: 10px 0;
		}
		
		.hide_03 .mar_top {
			margin-top: 30px;
		}
		
		#toggle_03[type=checkbox]:checked ~.content_03 > .hide_03 {
			height: 330px;
			transition-duration: 0.7s;
		}
		
		#toggle_03:hover {
			background: #333;
			color: #fff;
		}
		
		
		.faq_content_box #toggle_04 {
			display: none;
		}
		
		.faq_content_box .hide_04 {
			width: 96%;
			font-size: 1rem;
			overflow: hidden;
			height: 0px;
			margin: 0 auto;
			transition-duration: 0.7s;
		}
		
		.hide_04 p {
			padding: 10px 0;
		}
		
		.hide_04 .mar_top {
			margin-top: 30px;
		}
		
		#toggle_04[type=checkbox]:checked ~.content_04 > .hide_04 {
			height: 300px;
			transition-duration: 0.7s;
		}
		
		#toggle_04:hover {
			background: #333;
			color: #fff;
		}
		
		
		.faq_content_box #toggle_05 {
			display: none;
		}
		
		.faq_content_box .hide_05 {
			width: 96%;
			font-size: 1rem;
			overflow: hidden;
			height: 0px;
			margin: 0 auto;
			transition-duration: 0.7s;
		}
		
		.hide_05 .mar_top {
			margin-top: 30px;
		}
		
		#toggle_05[type=checkbox]:checked ~.content_05 > .hide_05 {
			height: 150px;
			transition-duration: 0.7s;
		}
		
		#toggle_05:hover {
			background: #333;
			color: #fff;
		}
		
	
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75rem;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75rem;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel li {
			color: #fff;
			float: left;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		.image_time {
			overflow: hidden;
		}
		
		.image_time .time {
			float: left;
		}
	
		.image_time li {
			color: #fff;
			float: left;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		
		.image_time .time_content {
			line-height: 20px;
			float: left;
		}
		
		.time_content .p_01 {
		}
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75rem;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		