		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
		}
		
		ul li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #000;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------대슬라이드-------*/
		
		.page_01 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.page_01 .slide {
			width: 100%;
			height: 1080px;
			background-image: url('../img/bslide/slide_02.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
		
		
		.page_01 header {
			width: 100%;
			height: 150px;
			text-align: center;
			position: fixed;
			background: rgba(0,0,0,.7);
			z-index :99999;
		}
		
		.logo {
			width: 78px;
			height: 54px;
			margin: 0px auto;
			position: relative;
		}		
		
		.logo img {
			width: 100%;
			vertical-align: bottom;
			border: none;
			position: absolute;
			top: 50%;
			margin-left: -39px;
			margin-bottom: -27px;
		}

		.nav {
			width: 40%;
			margin: 0 auto;
			margin-top: 40px;
			line-height: 50px;
			height: 50px;
			text-align:center;
			overflow: hidden;
		}

		.nav li {
			width: 13.6%;
			float: left;
		}
		
		.nav a {
			display: block;		
			color: #fff;	
			font-size: 1.2em;
			letter-spacing: 0.2em;
		}
		
		.nav .mar {
			margin-right: 8%;
		}
		
		.nav a:hover {
			border-bottom: 1px solid #f7e18a;
			background: #111;
		}

		/* ---------------------------------------브랜드소개-------*/
				
		.page_02 {
			width: 100%;
			margin-bottom: 200px;
		}

		.brand_box {
			width: 100%;
			height: 900px;
			background-image: url("../img/brand/back_image.jpg");
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-color: #131313;
			position: relative;
		}
		
		.brand_text {
			max-width: 30%;
			height: 500px;
			background: #222;
			box-shadow: 10px 10px 10px rgba(0,0,0,.5);
			position: absolute;
			top: 180px;
			left: 10%;
			overflow: hidden;
			text-align: justify;
			color: #fff;
			padding: 75px 2%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			line-height: 1.5;
		}
		
		.s1 {
			font-family: 'Tinos', serif;
			font-size: 4em;
			line-height: 130px;
			color: #f7e18a;
		}

		.s2 {
			font-size: 2rem;
		}
		
		/* ---------------------------------------메타포-------*/
						
		.page_03 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.metaphor_box {
			width: 60%;
			height: 820px;
			overflow: hidden;
			margin: 0 auto;
		}
		
		.metaphor_box .royalty, .quality, .global {
			width: 33.333%;
			float: left;
			height: 600px;
			margin: 0 auto;
			padding: 0 5%;
		}
		
		.metaphor_box .mar {
			border-right: 1px solid #fff;
		}
		
		.metaphor_box .image {
			width: 100%;
			margin: 0 auto;
			height: 300px;
			text-align: center;
			padding: 30px 0;
		}
		
		.metaphor_box img {
			vertical-align: bottom;
			border: none;
			max-width: 80%;
		}
		
		.metaphor_box .title {
			width: 100%;
			height: 100px;
			text-align: center;
			color: #fff; 
			font: 2em/100px 'Tinos', serif;
			margin: 0 auto;
		}
		
		.metaphor_box .subtitle {
			width: 100%;
			height: 200px;
			text-align: center;
			color: #fff; 
			font-size: 1.2em;
			letter-spacing: 0.1em;
			line-height: 1.5;
			padding: 25% 0;
			margin: 0 auto;
		}
		
		
		/* ---------------------------------------메뉴-------*/
						
		.page_04 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.menu_box {
			width: 100%;
			height: 820px;
		}
		
		/* ---------------------------------------비디오-------*/
						
		.page_05 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.video_box {
			width: 100%;
			height: 1080px;
		}
		
		/* ---------------------------------------이벤트-------*/
						
		.page_06 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.event_box {
			width: 100%;
			height: 820px;
		}
		
		/* ---------------------------------------커뮤니티-------*/
						
		.page_07 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.community_box {
			width: 100%;
			height: 680px;
		}
		
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		