		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		ul li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #000;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------대슬라이드-------*/
		
		.page_01 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.page_01 .slide {
			width: 100%;
			height: 1080px;
			background-image: url('../img/bslide/slide_02.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
		}
		
		
		.page_01 header {
			width: 100%;
			height: 150px;
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.8);
			z-index :99999;
		}
		
		.logo {
			width: 78px;
			height: 54px;
			margin: 0px auto;
			position: relative;
		}		
		
		.logo img {
			width: 100%;
			vertical-align: bottom;
			border: none;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-bottom: -27px;
			margin-left: -39px;
		}

		ul.nav {
			width: 40%;
			margin: 0 auto;
			margin-top: 40px;
			line-height: 49px;
			height: 50px;
			text-align:center;
			overflow: hidden; 
			font-family:'Nanum Myeongjo', serif;	
			font-size: 1em;
			letter-spacing: 0.2em;
		}

		.nav .home, .brand, .menu, .event, .store {
			width: 13.6%;
			float: left;
			color: #fff;
		}
		
		.nav a {
			display: block;	
			color: #fff;	
		}
		
		.nav .mar {
			margin-right: 8%;
		}
		
		.nav a:hover {
			border-bottom: 1px solid #f7e18a;
			background: #222;
			color: #f7e18a;
		}

		/* ---------------------------------------브랜드소개-------*/
				
		.page_02 {
			width: 100%;
			margin-bottom: 200px;
		}

		.brand_box {
			width: 100%;
			height: 900px;
			background-image: url("../img/brand/back_image.jpg");
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-color: #131313;
			position: relative;
		}
		
		.brand_text {
			width: 30%;
			background: #222;
			box-shadow: 10px 10px 10px rgba(0,0,0,.5);
			position: absolute;
			top: 35%;
			right: 15%;
			overflow: hidden;
			color: #fff;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			line-height: 1.5;
			padding: 1% 3%;
		}
		
		.s1 {
			font-family: 'Nanum Myeongjo', serif;
			font-size: 3em;
			line-height: 130px;
			color: #f7e18a;
			font-weight: bold
		}

		.s2 {
			font-size: 1.5rem;
		}
		
		.brand_text a.brand_btn {
			display: block;
			text-align: center;
			width: 30%;
			color: #f7e18a;
			border: 1px solid #f7e18a;
			padding: 2%;
			margin: 10% auto;			
		}
		
		.brand_text a:hover {
			background: #f7e18a;
			color: #fff;
			transition-duration: 2s;
		}
				
		.img_box01 {
			width: 30%;
			position: absolute;
			top: 15%;
			left: 5%;
		}
		
		.img_box01 img {
			vertical-align: bottom;
			border: none;
			
		}
		
		
		/* ---------------------------------------메타포-------*/
						
		.page_03 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.back_img {
			width: 100%;
			height: 1080px;
			background-image: url('../img/metaphor/fixed_01.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			position: relative;
		}
		
		.metaphor_box {
			width: 1000px;
			height: 500px;
			overflow: hidden;
			margin: 0 auto;
			text-align: center;
			background: rgba(0,0,0,.7);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -250px;
			margin-left: -500px;
		}
		
		
		.metaphor_box .royalty, .quality, .global {
			width: 33.333%;
			float: left;
			margin: 0 auto;
			padding: 5%;
		}
		
		.metaphor_box .image {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		
		.metaphor_box img {
			vertical-align: bottom;
			border: none;
			max-width: 80%;
		}
		
		.metaphor_box .title {
			width: 100%;
			text-align: center;
			color: #fff; 
			font:bold 1.7em/100px 'Nanum Myeongjo', serif;
			margin: 0 auto;
		}
		
		.metaphor_box .title span {
			font-size: 1.3em;
		}
		
		.metaphor_box .subtitle {
			width: 100%;
			text-align: center;
			color: #fff; 
			font-size: 1.2em;
			letter-spacing: 0.1em;
			line-height: 1.5;
			margin: 10% auto;
		}
		
		
		/* ---------------------------------------메뉴-------*/
						
		.page_04 {
			width: 100%;
			margin-bottom: 200px;
			background-color: #131313;
			background-image: url('../img/menu/background.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 bottom;
			
		}
		
		.menu_box {
			width: 70%;
			height: 820px;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
			padding: 100px 0;
			background:
		}
		
		.menu_all {
			float: left;
			position: relative;
			overflow: hidden;
		}
		
		.menu_all .menu_title {
			width: 250px;
			height: 250px;
			position: absolute;
			background: rgba(0,0,0,.8);
			top: 50%;
			left: 50%;
			z-index :99999;
			font: bold 4em/1.5 'Nanum Myeongjo', serif;
			color: #fff;
			margin-top: -125px;
			margin-left: -125px;
			padding: 8% 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;			
		}
		
		.menu_title span {
			font-size: 1.5rem;
			color: #f7e18a;
		}
		
		.menu_all .top {
		overflow: hidden;
		}
		
		.menu_all .menu_01 {
		float: left;
		}
		
		.menu_all .menu_02 {
		float: left;
		}
		
		.menu_all .bottom {
		overflow: hidden;	
		}
		
		.menu_all .menu_03 {
		float: left;
		}
		
		.menu_all .menu_04 {
		float: left;	
		}
		
		.menu_all img {
			vertical-align: bottom;
			border: none;
		}
		
		.menu_text {
			width: 50%;
			float: right;
			color: #fff;
			margin: 10% 0;
			letter-spacing: 0.1em;		
			text-indent: 0.1em;		
		}
		
		.menu_text .title {
			font: bold 2.5em/1.5 'Nanum Myeongjo', serif;
			margin: 10% 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;				
		}
		
		.menu_text .content {
			font-size: 1rem;
			line-height: 1.5;
			margin: 12% 0;
		}
		
		.menu_text a.menu_btn {
			display: block;
			text-align: center;
			width: 20%;
			color: #f7e18a;
			border: 1px solid #f7e18a;
			padding: 2%;
			margin: 10% auto;	
		}
		
		.menu_text a:hover {
			background: #f7e18a;
			color: #fff;
			transition-duration: 2s;
		}
		
		
		/* ---------------------------------------비디오-------*/
						
		.page_05 {
			width: 100%;
			margin-bottom: 200px;
		}
		
		.video_box {
			width: 1920px;
			height: 1080px;
			background: #fff;
			margin: 0 auto;
			text-align: center;
		}
		
		/* ---------------------------------------이벤트-------*/
						
		.page_06 {
			width: 100%;
			margin-bottom: 200px;
			background: #131313;
			background-image: url('../img/event/fixed_03.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 middle;
		}
				
		.event_box {
			width: 70%;
			height: 820px;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
			padding: 147px 0;
		}
		
		.event_text {
			width: 40%;
			float: left;
			color: #fff;
			letter-spacing: 0.1em;
			margin: 5% 0;
		}
		
		.event_text .event_title {
			font: bold 3em/1.5 'Nanum Myeongjo', serif;
			margin: 10% 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;			
		}
		
		.event_text .event_content {
			font-size: 1rem;
			line-height: 1.5;
			margin: 10% 0;
		}
		
		.event_text a.event_btn {
			display: block;
			text-align: center;
			width: 25%;
			color: #f7e18a;
			border: 1px solid #f7e18a;
			padding: 2%;
			margin: 10% auto;	
		}
		
		.event_text a:hover {
			background: #f7e18a;
			color: #fff;
			transition-duration: 2s;
		}
		
		
		.event_banner {
			float: right;
			overflow: hidden;	
		}
		
		.event_banner a:hover {
			
		}
		
		.event_banner .first_line {
			width: 100%;
			margin-bottom: 20px;
		}
		
		.event_banner .first_line img {
			vertical-align: bottom;
			border: none;
			width: 30%;
		}
		
		.event_banner .child {
			margin-right: 20px;
		}
		
		.child:hover {
			
		}
		
		.charlie:hover {
			
		}
		
		.korean:hover {
			
		}
		
		.event_banner .charlie {
			margin-left: 20px;
		}
		
		.event_banner .second_line {
			width: 100%;
		}
		
		.event_banner .second_line img {
			vertical-align: bottom;
			border: none;
			width: 30%;
		}
		
		.event_banner .korean {
			margin: 0 20px;
		}
		
		
		
		/* ---------------------------------------커뮤니티-------*/
						
		.page_07 {
			width: 100%;
			margin-bottom: 200px;
		}
				
		.community_box {
			width: 100%;
			height: 680px;
			text-align: center;
			color: #fff;
		}
		
		
		.community_box .community_title {
			width: 10%;	
			margin: 0 auto;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			font: bold 2em/1.5 'Nanum Myeongjo', serif;
		}
		
		.community_box hr {
			width: 10%;	
			margin: 0 auto;
		}
		
		.community_text {
			margin: 3% auto;
			font-size: 1rem;
			line-height: 1.5;
		}
		
		.community_text span {
			color: #f7e18a;
		}
		
		.community_banner {
			width: 100%;
			margin: 5% auto;
			overflow: hidden;
			text-align: center;
		}		
		
		.community_banner img {
			vertical-align: bottom;
			width: 100%;
			border:none;
		}
		
		.community_banner .image_01 {
			width: 15%;
			float: left;
			opacity: 0.5;
			background: #fff;
		}
		
		.community_banner .image_02 {
			width: 15%;
			float: left;
		}
		
		.community_banner .image_03 {
			width: 15%;
			float: left;
		}
		
		.community_banner .image_04 {
			width: 15%;
			float: left;
		}
		
		.community_banner .image_05 {
			width: 15%;
			float: left;
		}
		
		.community_banner .image_06 {
			width: 15%;
			float: left;
			opacity: 0.5;
			background: #fff;
		}
		
		.community_banner .mar {
			margin-right: 2%;
		}
		
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75rem;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75rem;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel li {
			color: #fff;
			float: left;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		.image_time {
			overflow: hidden;
		}
		
		.image_time .time {
			float: left;
		}
	
		.image_time li {
			color: #fff;
			float: left;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		
		.image_time .time_content {
			line-height: 20px;
			float: left;
		}
		
		.time_content .p_01 {
		}
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75rem;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		
		
		/* ---------------------------------------quick side-------*/
		
		.quick_side {
			width: 180px;
			height: 270px;
			background: rgba(0,0,0,.5);
			position: fixed;
			bottom: 1%;
			right: 1%;
			z-index: 99999;
			font-size: 1.5em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			overflow: hidden;
			padding: 0 15px;
		}
		
		.quick_side a {
			color: #fff;
			display: block;
		}
		 
		.quick_side a:hover {
			color: #f7e18a;
		}
		
		 .quick_side .first {
			color: #f7e18a;
		 }
		 
		.quick_side img {
			vertical-align: middle;
			border: none;
			width: 30px;
			height: 30px;
		}
		 
		.quick_side .image {
			 float: right;
		}
		
		.quick_side .qs {
			height: 30px;
			margin: 20px 0;
		}
		
		.quick_side .co {
			padding: 4.5px 0;
			float: left;
		}