		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
		}
		
		li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			color: #333;
			margin:0 auto;
			background: #000;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
	
																/* 대슬라이드 */


		
		.back01 {
			width: 100%;
			height: 1080px;
			width: 100%;
			text-align: center;
			background-image: url("../img/bslide/bs2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		} 
		
		.logo_box {
			width: 100%;
			height: 1080;
			text-align: center;
			margin: 0 auto;
		}
		
		.logo_box img {
			vertical-align: bottom;
			border: none;
			width: 5%;
		}
				
		.categori_box {
			width: 30%;
			overflow:hidden;
			margin: 1% auto;
		}
	
		.categori_box a {
			color: #fff;
			width: 100%;
			display: block;
			padding: 20% 0;
			font: 1.2em 'Abhaya Libre', serif;
			letter-spacing: 0.2em;
		}
		
		.categori_box a:hover {
			border-bottom: 1px solid #f7e18a;
		}

		.categori_link {
			width: 12%;
			float: left;
		}
			
		.categori_box .mar {
			margin-right: 10%;
		}
		
																/* 브랜드소개 */
		

		
		.back02 {
			width: 100%;
			height: 1080px;
		}
	
		.intro_title {
			width: 20%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.intro_title .intro_txt {
			color: #fff;
			font: 2em 'Abhaya Libre', serif;
			width: 36%;
			border: 1px solid #fff;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
			float: left;
			padding: 3% 0;
			margin:0 auto;
		}
		
		.intro_title .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			padding-top: 6%;
			float: left;
		}
				
		.h01 {
		margin: 0 10% 0 12%;
		}
		
		.h02 {
			margin: 0 12% 0 10%;
		}

		.briefintro {
			width: 100%;
			height: 600px;
			overflow: hidden;
			margin: 10% 0;
		}

		.briefintro .intro_image_box {
			float: left;
			width: 35%;
			position: relative;
			margin-right: 10%;
			left: 35%;
			box-shadow: 15px 15px 15px rgba(0,0,0,.5);
		}
		
		.briefintro .intro_image_box img {
			width: 100%;
			vertical-align: bottom;
			border:none;
		}

		 .intro_text_box {
			width: 40%;
			height: 500px;
			background: #121317;
			padding: 0 5% 0 15%;
			text-align: left;
			float: right;
			margin-top: 5%;
		}
		
		.intro_text_box .intro_head {
			font: 5em/3 "Abhaya Libre", serif;
			color: #f7e18a;
			margin: % 0;
		}		
		
		.intro_head span {
			font: 2rem/3 "Abhaya Libre", serif;
			color: #f7e18a;
			padding: 10% 0;
		}
				
		.intro_text_box .intro_content {
			font-size: 1em;
			line-height: 2em;
			color: #fff;
		}
		
		.intro_text_box .intro_btn {
			color: #fff;
			width: 30%;
			text-align: center;
			margin: 10% auto;
			border: 1px solid #f7e18a;
			color: #f7e18a;
			letter-spacing: 0.2em;
		}
		
		.intro_text_box .intro_btn a {
			display: block;
			color: #f7e18a;
			padding: 10% 5%;
			font-size: 1em;
		}
		
		.intro_text_box .intro_btn a:hover {
			color: #fff;
			background: #f7e18a;
			transition-duration: 1s;
		}
		
		

																/* 메타포 */
																
		.back03 {
			width: 100%;
			height: 1080px;
			background: url("../img/meta/fixed_03.jpg") no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}
		
		.metap_ti_01 {
			width: 30%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.metap_ti_01 .chocoima {
			width: 6%;
			margin: 0 auto;
			float: left;
		}		
		
		.metap_ti_01 .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			float: left;
			padding-top: 5%;
		}
		
		.h03 {
		margin: 0 12% 0 25%;
		}
		
		.h04 {
		margin: 0 25% 0 12%;
		}
		
		.chocoima img {
			width: 100%;
			vertical-align: bottom;
			border:none;
		}

		
		.me_txt {
			color: #fff;
			margin: 0 auto;
			font: 2em "Abhaya Libre", serif;
			text-align: center;
			float: center;
			width: 40%;
			padding: 1% 0;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
		}
		
		.metap {
			width: 70%;
			overflow: hidden;
			margin: 3% auto;
		}
		
		.ic {
			width: 32.666%;
			padding: 10%;
			color: #fff;
			float: left;
			text-align: center;
		}
		
		.metap .vline {
			border-right: 1px solid #fff;
			float: left;
			width: 1%;
			padding: 20% 0;
			margin: 5% auto;
		}
		
		.metap img {
			vertical-align: bottom;
			width: 100%;
			border:none;
		}
		
		.ic p {
			margin: 20% 0;
			text-align: center;
		}
		.title {
			font: 2em "Abhaya Libre", serif;
		}
		
		.content {
			line-height: 2em;
		}
		
																/* 메뉴 */
																

		.back04 {
			width: 100%;
			height: 1080px;
			background: url("../img/menu/background.png") no-repeat;
			background-size: cover;
		}
		
		.menu_ti {
			width: 20%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.menu_ti .menu_txt {
			color: #fff;
			font: 2em "Abhaya Libre", serif;
			width: 36%;
			border: 1px solid #fff;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
			float: left;
			padding: 3% 0;
			margin:0 auto;
		}
		
		.menu_ti .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			padding-top: 6%;
			float: left;
		}
		
		.men {
			width: 60%;
			overflow: hidden;
			margin: 10% auto;
		}
		
		.nu {
			width: 22.75%;
			text-align: center;
			float: left;
			color: #fff;
			background: rgba(18,19,23,.8);
		}
		
		.rme1 {
			margin-right: 3%;
		}
		
		.men .menu_image01 {
			width: 70%;
			margin: 10% auto;
		}
		
		.menu_image01 img {
			vertical-align: bottom;
			border:none;
			width: 100%;
		}
		
		.men .menu_text_title {
			font: 2em "Abhaya Libre", serif;
			padding: 15% 0 10% 0;
		}
		
		.men .menu_text_content {
			line-height: 2em;
			padding: 10%;
		}
		
		.men .menu_btn {
			color: #fff;
			width: 40%;
			text-align: center;
			margin: 10% auto;
			border: 1px solid #f7e18a;
			color: #f7e18a;
			letter-spacing: 0.2em;
			font-size: 0.5em;
		}
		
		.men .menu_btn a {
			display: block;
			color: #f7e18a;
			padding: 10% 5%;
		}
		
		.men .menu_btn a:hover {
			color: #fff;
			background: #f7e18a;
			transition-duration: 1s; 
		}
		
		
															/* 이벤트 */
															
															
		.back05 {
			width: 100%;
			height: 1080px;
			background: url("../img/event/background.png") no-repeat;
			background-size: cover;
		}
		
		.event_ti {
			width: 20%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.event_ti .event_txt {
			color: #fff;
			font: 2em "Abhaya Libre", serif;
			width: 36%;
			border: 1px solid #fff;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
			float: left;
			padding: 3% 0;
			margin:0 auto;
		}
		
		.event_ti .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			padding-top: 6%;
			float: left;
		}
		
		.even {
			width: 70%;
			margin: 10% auto;
			overflow: hidden;
			text-align: center;
		}
		
		.reve1 {
			width: 31.333%;
			float: left;
			padding: 5%;
		}
		
		.reve1 a:hover {
			
		}
		
		.even .th {
			margin-right: 3%;
		}
		
		.even img {
			width: 100%;
			vertical-align: bottom;
			border:none;
		}
		
		
															/* 비디오 */
															
															
															
		.back06 {
			width: 100%;
			height: 1080px;
		}
		
		.video_ti {
			width: 20%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.video_ti .video_txt {
			color: #fff;
			font: 2em "Abhaya Libre", serif;
			width: 36%;
			border: 1px solid #fff;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
			float: left;
			padding: 3% 0;
			margin:0 auto;
		}
		
		.video_ti .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			padding-top: 6%;
			float: left;
		}
		
		.video_content {
			margin: 10% auto;
			width: 70%;
			overflow: hidden;
			text-align: center;
		}
		
		.video_content .main {
			width: 70%;
			float: left;
			margin: 0 auto;
		}
		
		.video_content .main img {
			width: 100%;
			vertical-align: bottom;
			border:none;
		}
		
		.video_content .sub {
			width: 23.5%;
			float: left;
			margin: 1% auto;
		}
		
		.video_content .sub_01 {
			width: 100%;
		}
		.video_content .sub_02 {
			width: 100%;
		}
		.video_content .sub_03 {
			width: 100%;
		}
		.video_content .sub_04 {
			width: 100%;
		}
		
		.sub .mar {
			margin-bottom: 2%;
		}
		
		
		.video_content .scroll {
			width: 5%;
			float: left;
			color: #fff;
		}
		
				
		
															/* 커뮤니티 */
															
															
															
		.back07 {
			width: 100%;
			height: 800px;
		}
		
		.community_title {
			width: 30%;
			margin: 0 auto;
			padding-top: 5%;
			text-align: center;
			overflow: hidden;
		}
		
		.community_title .community_txt {
			color: #fff;
			font: 2em "Abhaya Libre", serif;
			width: 36%;
			border: 1px solid #fff;
			letter-spacing: 0.2em;
			text-indent: 0.2em;
			float: left;
			padding: 3% 0;
			margin:0 auto;
		}
		
		.community_title .hline {
			border-bottom: 1px solid #fff;
			width: 10%;
			padding-top: 5%;
			float: left;
		}
		
		.h05 {
		margin: 0 15% 0 7%;
		}
		
		.h06 {
			margin: 0 7% 0 15%;
		}
		
		.community_content {
			width: 100%;
			margin: 10% auto;
			overflow: hidden;
			text-align: center;
		}		
		
		.community_content img {
			vertical-align: bottom;
			width: 100%;
			border:none;
		}
		
		.community_content .image_01 {
			width: 15%;
			float: left;
			opacity: 0.5;
			background: #fff;
		}
		
		.community_content .image_02 {
			width: 15%;
			float: left;
		}
		
		.community_content .image_03 {
			width: 15%;
			float: left;
		}
		
		.community_content .image_04 {
			width: 15%;
			float: left;
		}
		
		.community_content .image_05 {
			width: 15%;
			float: left;
		}
		
		.community_content .image_06 {
			width: 15%;
			float: left;
			opacity: 0.5;
			background: #fff;
		}
		
		.community_content .mar {
			margin-right: 2%;
		}
		
						
		
															/* footer */
															
															
															
		.back08 {
			width: 100%;
			height: 600px;
			margin: 10% auto;
		}
		
		.back08 a {
			color: #fff;
		}
		
		.community .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 30%;
			padding: 5% 10%;	
			float: left;
		}
		
		.footer_logo_box img {
			width: 100%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 50%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			font-size: 1.2em;
			letter-spacing: 0.2em;
			color: #fff;
		}
		
		.footer_content_box p {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map .site_map_title {
			padding: 5% 0;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service .customer_service_title {
			padding: 5% 0;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time .business_time_title {
			padding: 5% 0 5% 10%;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel .tel {
			float: left;
			width: 5%;
			margin-right: 5%;
		}
		
		.image_tel p {
			color: #fff;
			float: left;
			width: 90%;	
		}
		
		.image_tel img {
			width: 100%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time .time {
			float: left;
			width: 10%;
			padding-right: 5%;			
		}
	
		.image_time p {
			color: #fff;
			float: left;
			width: 85%;	
		}
		.image_time img {
			width: 100%;
			vertical-align: bottom;
			border: none;
		}

	
		
		.footer_sns_box {
			width: 20%;
			float: left;
			background: blue;
		}
		
		
		
		.community .box_02 {
			color: #fff;
		}