* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.75em;
  margin: 0 auto;
  background: #000;
}

/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/

/* ---------------------------------------대슬라이드-------*/

.page_01 {
  width: 100%;
}

.page_01 .slide {
  width: 100%;
  height: 0;
  background-image: url("../img/slide/slide_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
  padding-top: calc(1080 / 1920 * 100%);
}

header {
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
}

.nav {
	width: 100%;
	background: #222;
	overflow: hidden;
}

.nav img {
	vertical-align: bottom;
	border: none;
	padding: 20px 0;
}

.nav_logo {
	width: 10%;
	display: block;
	float: left;
	text-align: center;
}

.nav_text {
	width: 10%;
	margin-top: 53px;
	background: #fff;
	float: left;
}

#textFlow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.nav_menu {
	width: 60%;
	float: left;
	margin-left: 10%;
	overflow: hidden;
	padding-left: 25%;
}

.login_box {
	width: 7%;
	margin-right: 3%;
	float: right;
	color: #fff;
	border: 1px solid #fff;
}

.nav_menu .home,
.brand,
.menu,
.news,
.store {
	width: 15%;
	float: left;
	color: #fff;
	line-height: 54px;
	padding-top: 40px;
}

.nav_hover:hover {
	background: #111;
	color: #f7e18a;
	transition-duration: 0.5s;
}


.nav_menu a {
	color: #fff;
	display: block;
	text-align: center;
}

.co ul {
	width: 80%;
	overflow: hidden;
	position: absolute;
	top: 94px;
	left: 0;
	margin-left: 10%;
	display: none;
	height: 400px;
	background: rgba(0,0,0,.5);
}

.co ul li {
	width: 20%;
	float: left;
}

.co ul li a {
	display: block;
	background: #111;
	line-height: 50px;
	color: #fff;
}


.co:hover .sub_box {
	opacity: 1;
	transition: all 1s ease;
	display: block;
}

/* ---------------------------------------브랜드&메타포-------*/

.page_02 {
  width: 100%;
  margin-bottom: 200px;
}

.fixed_image {
  width: 100%;
  height: 0;
  background: url("../img/brand/back_attachment.png") no-repeat center center /
    cover;
  padding-top: calc(2270 / 1920 * 100%);
  position: relative;
}

.intro {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
  margin-top: 10%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro .image {
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
  float: left;
}

.intro .image img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.intro .text {
  width: 30%;
  margin-right: 10%;
  float: right;
  margin-top: 3%;
}

#s1 {
  font-size: 2rem;
  color: #f7e18a;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

#s2 {
  font-size: 3rem;
  color: #f7e18a;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

#s3 {
  letter-spacing: 0.1rem;
  line-height: 1.5;
  display: inline-block;
  margin: 60px 0;
}

.text .btn {
  width: 30%;
  color: #fff;
  text-align: center;
  margin: 1% auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

.text .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.text .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  color: #000;
}

.metaphor {
  width: 100%;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.metaphor .icon {
  width: 10%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
}

.metaphor_box {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.metaphor .co {
  color: #fff;
}

.metaphor .co p {
  margin: 20% auto;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}

.metaphor .co span.first {
  color: #fff;
  font-size: 1.2rem;
}

.metaphor .co span.content {
  line-height: 2;
}

.royalty {
  width: 33.333%;
  text-align: center;
  float: left;
}

.royalty img {
  width: 30%;
  vertical-align: bottom;
  border: none;
}

.quality {
  width: 33.333%;
  text-align: center;
  float: left;
}

.quality img {
  width: 20%;
  vertical-align: bottom;
  border: none;
}

.global {
  width: 33.333%;
  text-align: center;
  float: left;
}

.global img {
  width: 30%;
  vertical-align: bottom;
  border: none;
}

/* ---------------------------------------베스트메뉴-------*/

.page_03 {
  width: 100%;
  height: 800px;
  background: #111 url("../img/best_menu/frame.png") no-repeat;
  background-size: 100%;
  margin-bottom: 200px;
}

.content_container {
  width: 50%;
  float: right;
  margin: 12% 6% 0 0%;
  overflow: hidden;
}

.best_01,
.best_02,
.best_03 {
  width: 300px;
  height: 300px;
  float: left;
  text-align: center;
}

.best_name {
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.content_container .mar {
  margin-right: 1%;
}

.best_01 {
  background: url("../img/best_menu/truffles.png") no-repeat;
}

.best_02 {
  background: url("../img/best_menu/carre.png") no-repeat;
}

.best_03 {
  background: url("../img/best_menu/gold.png") no-repeat;
}

/* ---------------------------------------메뉴-------*/

.page_04 {
  width: 100%;
  height: 1200px;
  background: #000 url("../img/menu/background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 400px;
}

.menu_title {
  width: 50%;
  color: #fff;
  padding: 10% 0;
  margin: 0 auto;
  text-align: center;
}

.menu_title span {
  font-size: 3rem;
  font-weight: bold;
}

.menu_title p {
  font-size: 4rem;
  font-weight: bold;
}

.menu_title hr {
  margin: 2% auto;
  width: 50%;
}

.menu_con {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.menu_chocolate,
.menu_dessert,
.menu_icecream,
.menu_drink {
  width: 23.5%;
  height: 500px;
  background: #111;
  float: left;
  text-align: center;
  color: #fff;
}

.menu_con .mar {
  margin-right: 2%;
}

.menu_con span {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu_chocolate {
  background: url("../img/menu/menu_01.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.menu_chocolate_text {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5% 0;
}

.menu_dessert {
  background: url("../img/menu/menu_02.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.menu_dessert_text {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5% 0;
}

.menu_icecream {
  background: url("../img/menu/menu_03.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.menu_icecream_text {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5% 0;
}

.menu_drink {
  background: url("../img/menu/menu_04.jpg") no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.menu_drink_text {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5% 0;
}

/* ---------------------------------------이벤트-------*/

.page_05 {
  width: 100%;
  height: 800px;
  margin-bottom: 200px;
}

.event_title {
  color: #fff;
  height: 100px;
  line-height: 100px;
  margin-bottom: 200px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
}

.event_title span {
  font-size: 3rem;
}

.event_con {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.event_01 {
  width: 32%;
  float: left;
}

.event_02 {
  width: 32%;
  float: left;
}

.event_03 {
  width: 32%;
  float: left;
}

.event_con .mar {
  margin-right: 2%;
}

.event_01_image,
.event_02_image,
.event_03_image {
  width: 100%;
  height: 300px;
}

.event_01_image {
  background: url("../img/event/event_01_banner.png") no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.event_02_image {
  background: url("../img/event/event_02_banner.png") no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.event_03_image {
  background: url("../img/event/event_03_banner.png") no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.event_01_title,
.event_02_title,
.event_03_title {
  width: 100%;
  text-align: center;
  padding: 2%;
}

.event_con p {
  font-size: 1rem;
  height: 50px;
  margin: 20px 0;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  line-height: 1.5;
  color: #fff;
}

.event_con .btn {
  width: 15%;
  color: #fff;
  text-align: center;
  margin: 30px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-size: 0.75rem;
  background: #222;
}

.event_con .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.event_con .btn a:hover {
  background: #f7e18a;
  transition-duration: 0.7s;
  color: #000;
}

/* ---------------------------------------매거진-------*/

.page_06 {
  width: 100%;
  height: 1300px;
  background: url("../img/magazine/back_image.png") no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}

.magazine_con {
  width: 50%;
  height: 800px;
  margin-left: 50%;
  color: #fff;
  text-align: center;
  margin: 20% 5% 20% 45%;
  padding: 22% 0;
}

.magazine_con h1 {
  margin: 5% 0;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.magazine_con p {
  line-height: 1.5;
  font-size: 1rem;
}

.magazine_con .btn {
  width: 15%;
  color: #fff;
  text-align: center;
  margin: 5px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-size: 0.75rem;
  background: #111;
  margin-top: 10%;
}

.magazine_con .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.magazine_con .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  color: #000;
}

/* ---------------------------------------비디오-------*/

.page_07 {
  width: 100%;
  background: #111;
  margin-bottom: 200px;
}

.video_box {
  width: 100%;
  margin: 0 auto;
}

/* ---------------------------------------SNS-------*/

.page_08 {
  width: 100%;
  margin-bottom: 200px;
}

.sns_container {
  width: 750px;
  margin: 0 auto;
}

.sns_container .sns_box_01,
.sns_box_02,
.sns_box_03 {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.sns_container .co {
  width: 250px;
  height: 250px;
  float: left;
}

.sns_container img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.sns_title p {
  background: #222;
  color: #f7e18a;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 250px;
}

/* ---------------------------------------매장-------*/

.page_09 {
  width: 100%;
  margin-bottom: 200px;
  height: 787px;
  background: url("../img/store/store_frame.png") no-repeat;
  background-size: cover;
}

.store_con {
  width: 50%;
  height: 800px;
  margin-left: 50%;
  color: #fff;
  text-align: center;
  margin: 15% 45% 20% 5%;
  padding: 15% 0;
}

.store_con h1 {
  margin: 2% 0;
  font-size: 2rem;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.store_con hr {
  width: 15%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.store_con p {
  line-height: 1.5;
  font-size: 1rem;
}

.store_con .btn {
  width: 12%;
  color: #fff;
  text-align: center;
  margin: 5px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-size: 0.75rem;
  background: #111;
  margin-top: 10%;
}

.store_con .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.store_con .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  color: #000;
}

/* ---------------------------------------footer-------*/

.page_10 {
  width: 100%;
  background: #131313;
}

.footer_box {
  width: 100%;
  height: 500px;
}

.footer_box .box_01 {
  width: 100%;
  border-top: 1px solid #f7e18a;
  border-bottom: 1px solid #f7e18a;
  overflow: hidden;
  text-align: center;
}

.footer_logo_box {
  width: 20%;
  padding: 5% 0;
  float: left;
  text-align: center;
}

.footer_logo_box img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

.footer_content_box {
  width: 60%;
  float: left;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0;
  padding-left: 5%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  color: #fff;
}

.footer_content_box li {
  margin: 5% 0;
  color: #f7e18a;
}

.footer_content_box .site_map {
  width: 28.333%;
  float: left;
  margin-right: 5%;
}

.site_map a {
  font-size: 0.75rem;
}

.site_map a:hover {
  text-decoration: underline;
  color: #f7e18a;
}

.site_map_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .customer_service {
  width: 28.333%;
  float: left;
  margin-right: 10%;
}

.customer_service a {
  font-size: 0.75rem;
}

.customer_service a:hover {
  text-decoration: underline;
  color: #f7e18a;
}

.customer_service_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .business_time {
  width: 28.333%;
  float: left;
}

.business_time_title {
  padding: 5% 0 5% 10%;
  font-weight: bold;
}

.image_tel {
  width: 100%;
  overflow: hidden;
}

.image_tel li {
  color: #fff;
  float: left;
}

.image_tel img {
  display: block;
  float: left;
  width: 7%;
  vertical-align: bottom;
  border: none;
}

.image_tel span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75rem;
}

.image_time {
  overflow: hidden;
}

.image_time .time {
  float: left;
}

.image_time li {
  color: #fff;
  float: left;
}

.image_time img {
  display: block;
  float: left;
  width: 7%;
  vertical-align: bottom;
  border: none;
}

.image_time span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75rem;
}

.image_time .time_content {
  line-height: 20px;
  float: left;
}

.time_content .p_01 {
}

.footer_sns_box {
  width: 20%;
  padding: 3% 0;
  float: left;
}

.footer_sns_box img {
  vertical-align: bottom;
  border: none;
}

.box_02 {
  width: 100%;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

/* ---------------------------------------quick side-------*/
/*
		.quick_side {
			width: 150px;
			height: 235px;
			background: rgba(0,0,0,.5);
			position: fixed;
			bottom: 1%;
			right: 1%;
			z-index: 99999;
			font-size: 0.75rem;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			overflow: hidden;
			padding: 0 15px;
		}
		
		.quick_side a {
			color: #fff;
			display: block;
		}
		 
		.quick_side .co:hover {
			color: #f7e18a;
		}
		
		 .quick_side .first {
			color: #f7e18a;
		 }
		 
		.quick_side img {
			vertical-align: bottom;
			border: none;
			width: 23px;
			height: 23px;
		}
		 
		.quick_side .image {
			 float: right;
		}
		
		.quick_side .qs {
			height: 23px;
			margin: 20px 0;
		}
		
		.quick_side .co {
			padding: 4.5px 0;
			float: left;
		}
		*/

.quick_side {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  overflow: hidden;
}

.quick_side a {
  color: #fff;
  display: block;
}

.quick_side .qs:hover {
  color: #f7e18a;
  transition-duration: 0.5s;
}

.quick_side .first {
  color: #f7e18a;
}

.quick_side img {
  vertical-align: bottom;
  border: none;
  width: 23px;
  height: 23px;
}

.quick_side .image {
  float: right;
}

.quick_side .qs {
  height: 23px;
}

.quick_side .co {
  padding: 4.5px 0;
  float: left;
}

.plus_icon {
  width: 150px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: fixed;
  transition-duration: 1s;
  right: -150px;
  bottom: 125px;
}

.mypage {
  margin-top: 0;
}

.cart {
  margin: 20px 0;
}

.search {
  margin-bottom: 0;
}

#open_more {
  display: none;
}

#open_more:checked + .plus_icon {
  right: 20px;
  bottom: 125px;
  transition-duration: 1s;
}

label.plus:hover {
  cursor: pointer;
}

/*#open_more:checked ~ label img {
			transition-duration: 1s;
			transform: rotate(0.25turn);
		}*/

.plus_image {
  margin: 20px;
  text-align: right;
}

.up {
  margin: 20px;
  width: 23px;
  margin-left: 107px;
}
