* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.75em;
  margin: 0 auto;
  background: #000;
}


/* 브라운:#3e2723, 레몬:#f7e18a */

/* --------------------헤더------------------- */

.page_01 header#header_mobile {
	display: none;
}

@media all and (max-width: 1023px) {
	
.page_01 { /* page_01를 헤더 밑에서부터 시작 */
  padding-top: 10rem;
}

.page_01 header {
	display: none;
}

.page_01 header#header_mobile {
	display: block;
	width: 100%;
	height: 10rem;
	
}

#header_mobile .content_box {
	width: 100%;
}

#header_mobile .content_box a {
	display: block;
}

#header_mobile .content_box #logo_mobile {
	float: left;
	margin-left: 10px;
}

#header_mobile .content_box #logo_mobile img {
	padding: 2.5rem;
	height: 10rem;
	line-height: 10rem;
	width: auto;
	vertical-align: middle;
	border: none;
}
#header_mobile .content_box #burger_mobile {
	float: right;
	margin-right: 10px;
}

#header_mobile .content_box #burger_mobile img {
	padding: 1.5rem;
	height: 10rem;
	line-height: 10rem;
	width: auto;
	vertical-align: middle;
	border: none;
}

}

/* --------------------사이드 메뉴바------------------- */

.page_01 #sidebar_mobile {
	display: none;
}

@media all and (max-width: 1023px) {
	
.page_01 #sidebar_mobile {
	display: block;
	width: 350px;
	height: 100%;
	position: fixed;
	top: 10rem;
	right: -350px;
	z-index: 999;
  background: rgba(0, 0, 0, 0.8);
}

.page_01 #personal_content { 
	width: 80%;
	overflow: hidden;
	margin: 10% auto;
}

.page_01 #personal_content div { /* search container */
	width: 70%;
	float: left;
	margin-right: 4%;
	overflow: hidden;
}

.page_01 #personal_content div input { /* search box */
	width: 78%;
	margin-right: 2%;
	line-height: 2rem;
	border: none;
	outline: none;
	padding-left: 1rem;
	display: block;
	float: left;
}

.page_01 #personal_content div a { /* search image box */
	width: 20%;
	display: block;
	float: right;
}

.page_01 #personal_content div img { /* search image */
	width: auto;
	height: 2rem;
	padding: 0.3rem;
	vertical-align: bottom;
	border: none;
}

.page_01 #personal_content a.personal_icon { /* mypage, cart */
	width: 12.5%;
	float: left;
	display: block;
}

.page_01 #personal_content a.icon1 {
	margin-right: 1%;
}

.page_01 #personal_content a.personal_icon img {
	width: auto;
	height: 2rem;
	padding: 0.25rem;
	vertical-align: bottom;
	border: none;
}

#sidebar_mobile #categori_content { /* 메뉴 네비게이션 */
	width: 80%;
	margin: 20% auto;
}

#sidebar_mobile #categori_content a {
	color: #f7e18a;
	display: block;
	padding: 0.25rem;
}

#sidebar_mobile #categori_content .on { /* click 이벤트 실행 시 밑줄 유지 */
	border-bottom: 1px solid #f7e18a;	
}

#sidebar_mobile #categori_content .main { /* 밑줄 생성시간 */
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

#sidebar_mobile #categori_content > li { /* brand, menu, news, store */
	margin: 10% 0;
}

#sidebar_mobile #categori_content > li > a { /* brand, menu, news, store 폰트 설정 */
	font-size: 1.25rem;
	line-height: 2.5rem;
	border-bottom: 1px solid transparent;
}

#sidebar_mobile #categori_content > li > a:hover {
	border-bottom: 1px solid #f7e18a;
}

#sidebar_mobile #categori_content .sub_list {
	width: 100%;
	margin: 2% auto;
	font-size: 0.8rem;
	display: none; /* 토글슬라이드 위해 숨김 */
}

#sidebar_mobile #categori_content .sub_list a { /* sub_list 폰트 설정 */
	color: #666;
	line-height: 1.5rem;
	padding-left: 1rem;
	transition: all 0.5s ease;
}

#sidebar_mobile #categori_content .sub_list a:hover {
	color: #fff;
	background: #333;
}

}

/* --------------------대슬라이드------------------- */

.slider_container .slider_mobile {
	display: none;
}

@media all and (max-width: 1023px) {
		
	.slider_container .slider { /* PC버전 슬라이더 숨김 */
		display: none;
	}

	.slider_container .slider_mobile { /* 모바일버전 슬라이더 보임 */
		display: block;
		width: 100%;
		overflow: hidden;
	}

	.slider_container .slider_mobile li {
		width: 100%;
		float: left;
	}

	ul.slider_mobile li img {
		display: block;
		max-width: 100%;
		vertical-align: bottom;
		border: none;
	}

	.dot {
		width: 12px;
		height: 12px;
	}

}


/* --------------------브랜드&메타포------------------- */

	#s3_mobile {
		display: none;
	}

@media all and (max-width: 1023px) {
	
	.page_02 .image { /* PC버전 브랜드 소개 이미지 숨김 */
		display: none;
	}
		
	.intro .text {
	  width: 50%;
	  min-width: 150px;
	  float: none;
	  margin: 0 auto;
	  opacity: 1;
	  transition: none;
	  -webkit-transition: none;
	  -moz-transition: none;
	}

	#s3 { /* PC버전 텍스트 숨김 */
		display: none;
	}

	#s3_mobile { /* 모바일 텍스트 보임 */
	  letter-spacing: 0.1em;
	  line-height: 1.5;
	  display: block;
	  margin: 60px 0;
	  text-align: center;
	}

	.text .btn {
	  width: 6.25rem;
	  font-size: 0.75em;
	}

	.metaphor_box {
	  width: 50%;
	}

	.metaphor .co img {
	  width: 60%;
	  vertical-align: bottom;
	  border: none;
	}

	.metaphor .co p {
	  font-size: 1.2rem;
	}

	.metaphor .co span.content {
	  line-height: 1.5;
	  font-size: 0.75rem;
	}

	.royalty,
	.quality,
	.global {
		opacity: 1;
	}

}


/* --------------------베스트메뉴------------------- */

@media all and (max-width: 1023px) {
	.page_03 { /* 베스트메뉴 숨김 */
		display: none;
	}
}


/* --------------------메뉴------------------- */

@media all and (max-width: 1023px) {
			
	.page_04 {
	  background: #000 url("../img/menu/background.png") no-repeat center / 100% auto;
	  background-attachment: fixed;
	  padding: 200px 0;
	  margin-bottom: 100px;
	}

	.menu_con {
		width: 70%;
	}

	.menu_chocolate,
	.menu_dessert,
	.menu_icecream,
	.menu_drink { /* 이미지 세로 정렬 */
		width: 100%;
		float: none;
		margin: 20% 0;
	}

	.menu_con img {
		max-width: 400px;
	}

	.menu_con p {
		padding: 5% 0;
		font-size: 1.5rem;
	}

}


/* --------------------이벤트------------------- */

@media all and (max-width: 1023px) {
	
	.page_05 {
		display: none;
	}

}


/* --------------------매거진------------------- */

@media all and (max-width: 1023px) {
	
	.page_06 {
		display: none;
	}

}


/* --------------------매장------------------- */

@media all and (max-width: 1023px) {
				
	.page_09 {
	  width: 100%;
	  padding: 250px 0;
	  position: relative;
	}

	.store_img:nth-child(1) {
	  width: 15%;
	  position: absolute;
	  top: 35%;
	  right: 45%;
	  z-index: 1;
	  opacity: 1;
	}

	.store_img:nth-child(2) {
	  width: 16%;
	  position: absolute;
	  top: 25%;
	  right: 35%;
	  z-index: 2;
	  opacity: 1;
	}

	.store_img:nth-child(3) {
	  width: 30%;
	  position: absolute;
	  top: 32%;
	  right: 10%;
	  z-index: 3;
	  opacity: 1;
	}

	.store_text .btn {
	  width: 20%;
	}

}


/* --------------------footer------------------- */

@media all and (max-width: 1023px) {


	.footer_logo_box {
	  margin: 0 auto;
	  padding: 3% 0;
	  padding-bottom: 0;
	  float: none;
	}

	.footer_content_box {
		width: 80%;
	  float: none;
	  font-size: 1em;
	  text-align: center;
		padding-left: 0;
	}

	.footer_content_box li {
	  margin: 1% 0;
	}

	.footer_content_box .site_map {
	  width: 100%;
	  float: none;
	  margin: 2% 0 0;
	}
	
	.footer_content_box .customer_service {
	  width: 100%;
	  float: none;
	  margin: 2% 0 0;
	}
	
	.footer_content_box .business_time {
	  width: 100%;
	  float: none;
	  margin: 2% 0 0;
	}
	
	.site_map_title,
	.customer_service_title,
	.business_time_title {
	  padding: 1% 0;
	}

	.business_time li {
		text-align: center;
	}

	.business_time .tel img {
		display: none;
	}
	
	.business_time .time img {
		display: none;
	}
		
	.business_time .tel span {
	  display: inline-block;
	  float: none;
	  padding-left: 0;
	  text-indent: 0;
	  font-size: 0.75em;
	  color: #666;
	}

	.business_time .time span {
	  display: inline-block;
	  float: none;
	  padding-left: 0;
	  text-indent: 0;
	  font-size: 0.75em;
	  line-height: 1.5;
	  color: #666;
	}
		

}