* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.75em;
  margin: 0 auto;
  background: #000;
}

/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/

/* ---------------------------------------대슬라이드-------*/
/* 브라운:#3e2723, 레몬:#f7e18a */

.page_01 {
  width: 100%;
  padding-top: 150px;
  background: #000;
  position: relative;
}

.page_01 .slide {
  width: 100%;
  height: 0;
  background-image: url("../img/slide/slide_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(830 / 1920 * 100%);
}

header {
  width: 100%;
  text-align: center;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
}

.nav_top {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.rollingText {
  width: 25%;
  min-width: 450px;
  margin-left: 5%;
  float: left;
  margin-right: 15%;
  background: #666;
  color: #ddd;
  background: #131313;
  outline: none;
  overflow: hidden;
  margin-top: 58px;
  padding: 5px 10px;
}

.rollingText .open-event {
	width: 85%;
	float: left;
	overflow: hidden;
}

.rollingText .control {
	width: 15%;
	float: left;
	text-align: right;
	line-height: 30px;
}

.control .play {
	font-size: 1.2em;
	margin-right: 10%;
}

.control .stop {
	font-size: 1.2em;	
}

.rollingText .notice-list {
	width: 90%;
	height: 30px;
	line-height: 30px;
	float: left;
	overflow: hidden;
}

.rollingText #bt5 {
	margin-left: 1%;
	width: 9%;
	float: right;
}

.rollingText #bt5 a {
	display: block;
	text-align: center;
}

.rollingText .open-event #bt5 img {
	width: 30%;
	vertical-align: middle;
	border: none;
}

.rollingText .open-event #bt5 .next {
	margin-bottom: 2px;
}

.rollingText .notice-list li {
	overflow: hidden;
	width: 330px;
}

.rollingText .notice-list li a {
	color: #ccc;
	float: left;
}

.rollingText .notice-list li a:hover {
	color: #f7e18a;
}

.rollingText .notice-list li p {
	font-size: 0.6em;
	float: right;
} 

.rollingText .on {
	color: #f7e18a;
}

.nav_logo #logo {
  vertical-align: bottom;
  border: none;
}

.nav_logo {
  width: 10%;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 21.5px 0;
  float: left;
}

.myPage {
  width: 40%;
  margin-right: 5%;
  float: right;
  text-align: right;
  margin-top: 43px;
  overflow: hidden;
}

.myPage #searchBar {
  width: 30%;
  line-height: 26px;
  padding-left: 10px;
  outline: none;
  color: #ddd;
  background: #131313;
  border: none;
  transition: all 1s ease 0.1s;
  -webkit-transition: all 1s ease 0.1s;
  -moz-transition: all 1s ease 0.1s;
}

.myPage #searchBar:focus {
  width: 40%;
  color: #fff;
}

.myPage div:nth-child(1) {
  width: 60%;
  float: left;
  margin-right: 2%;
}

.myPage div:nth-child(1) a {
  line-height: 30px;
  margin-left: 10px;
}

.myPage div:nth-child(1) img {
  width: 4%;
  vertical-align: middle;
  border: none;
}

.myPage div:nth-child(2) {
  width: 12%;
  float: left;
  margin-right: 2%;
}

.myPage div:nth-child(2) a {
  color: #fff;
  line-height: 30px;
}

.myPage div:nth-child(2) img {
  width: 25%;
  vertical-align: middle;
  border: none;
  margin-right: 5px;
}

.myPage div:nth-child(3) {
  width: 12%;
  float: left;
}

.myPage div:nth-child(3) a {
  color: #fff;
  line-height: 29px;
}

.myPage div:nth-child(3) img {
  width: 25%;
  vertical-align: middle;
  border: none;
  margin-right: 5px;
}

nav {
  height: 50px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

ul.main_container {
  width: 100%;
  height: 100%;
  padding-left: 50%;
  overflow: hidden;
}

ul.main_container > li.co {
  width: 15%;
  height: 100%;
  float: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
a.main_a {
  display: block;
  line-height: 50px;
  height: 100%;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

li.co:hover {
  background: rgba(34, 34, 34, 0.8);
}

li.co:hover .main_a {
  color: #f7e18a;
  cursor: pointer;
}

li.co ul.sub_box {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 9999;
  background: rgba(19, 19, 19, 0.9);
}

li.co:hover ul.sub_box {
  height: 350px;
  padding: 20px;
}

li.co > ul.sub_box > li:first-child {
  width: 35%;
  margin: 5%;
}

li.co > ul.sub_box > li:last-child {
  margin-right: 5%;
}

li.co > ul.sub_box > li {
  width: 10%;
  float: left;
}

li.main02 > ul.sub_box > li > img:nth-child(1) {
  width: 20%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 5%;
}

li.main02 > ul.sub_box > li > img:nth-child(2) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 29%;
}

li.main03 > ul.sub_box > li > img:nth-child(1) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 5%;
}

li.main03 > ul.sub_box > li > img:nth-child(2) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 17%;
}
li.main03 > ul.sub_box > li > img:nth-child(3) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 29%;
}

li.main04 > ul.sub_box > li > img:nth-child(1) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 17%;
}

li.main04 > ul.sub_box > li > img:nth-child(2) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 29%;
}

li.main05 > ul.sub_box > li > img:nth-child(1) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 5%;
}

li.main05 > ul.sub_box > li > img:nth-child(2) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 17%;
}

li.main05 > ul.sub_box > li > img:nth-child(3) {
  width: 10%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 29%;
}

li.co > ul.sub_box > li > span {
  border-bottom: 1px solid #f7e18a;
}

li.co > ul.sub_box > li:first-child {
  margin-top: 25px;
}

ul.sub_box > li > ul {
  margin-top: 10px;
}

ul.sub_box > li > ul > li > a {
  line-height: 40px;
  color: #fff;
}

ul.sub_box > li > ul > li > a:hover {
  color: #f7e18a;
}

ul.sub_box > li > span.sub_title {
  display: block;
  line-height: 50px;
  text-decoration: none;
  font-size: 1em;
  color: #f7e18a;
}

/* ---------------------------------------브랜드&메타포-------*/

.page_02 {
  width: 100%;
}

.fixed_image {
  width: 100%;
  background: url("../img/brand/back_attachment.png") no-repeat center 80% /
    cover;
}

.intro {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
  padding-top: 20%;
}

.intro .image {
  width: 55%;
  margin-left: 5%;
  float: left;
  position: relative;

  transition: all 6s linear;
  -webkit-transition: all 6s linear;
  -moz-transition: all 6s linear;

  animation-name: flow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes flow {
  0% {
    top: 0;
  }

  50% {
    top: -50px;
  }

  100% {
    top: 0;
  }
}

.intro .image img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.intro .text {
  width: 30%;
  margin-right: 10%;
  float: right;
  margin-top: 5%;
  opacity: 0;
  transition: all 2s ease 0.1s;
  -webkit-transition: all 2s ease 0.1s;
  -moz-transition: all 2s ease 0.1s;
}

.page_02:hover .intro > .text {
  opacity: 1;
}

#s1 {
  width: 100%;
  font-size: 3em;
  color: #f7e18a;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

#s3 {
  letter-spacing: 0.1em;
  line-height: 1.5;
  display: inline-block;
  margin: 60px 0;
}

.text .btn {
  width: 30%;
  color: #fff;
  text-align: center;
  margin: 1% auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}

.text .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.text .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  color: #000;
}

.metaphor {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 10% 0;
}

.metaphor_box {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.metaphor .co {
  color: #fff;
}

.metaphor .co p {
  margin: 5% auto;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.metaphor .co span.first {
  color: #fff;
  font-size: 1.5em;
}

.metaphor .co span.content {
  line-height: 2;
}

.metaphor:hover .co {
  opacity: 1;
}

.royalty {
  width: 33.333%;
  text-align: center;
  float: left;
  opacity: 0;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
}

.royalty img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

.quality {
  width: 33.333%;
  text-align: center;
  float: left;
  opacity: 0;
  transition: all 2s ease 0.5s;
  -webkit-transition: all 2s ease 0.5s;
  -moz-transition: all 2s ease 0.5s;
}

.quality img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

.global {
  width: 33.333%;
  text-align: center;
  float: left;
  opacity: 0;
  transition: all 2s ease 1s;
  -webkit-transition: all 2s ease 1s;
  -moz-transition: all 2s ease 1;
}

.global img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

/* ---------------------------------------베스트메뉴-------*/

.page_03 {
	width: 100%;
}

#content_container {
	width: 80%;
	margin: 5% 20% 5% 0;
	background: #131313;
	padding-bottom: 5%;
}

.page_03 div.title_box {
	width: 20%;
}

.page_03 ul.tab_box {
	width: 80%;
	overflow: hidden;
	position: relative;
	left: 40%;
}

.page_03 .tab_box>li {
	color: #fff;
	font-size: 1em;
	letter-spacing: 0.1em;
	text-indent: 0.1em;
	text-align: center;
	float: left;
	text-align: center;
	cursor: pointer;
	padding: 2%;
	border: 1px solid #222;
	margin-right: 1%;
	margin-bottom: 5%;
}

.page_03 .tab_box>li:hover {
	color: #f7e18a;
	background: #222;
}

.page_03 .tab_box .active {
	color: #f7e18a;
	background: #222;
}

.page_03 .tab_box li:nth-child(1) {
	border-right: none;
	margin-left: 11%;
}

.page_03 .tab_box li:nth-child(2) {
	border-right: none;
}

.page_03 .tab_box #content_box {
	width: 100%;
	height: 300px;
	clear: both;
	position: relative;
	padding-top: 5%;
}

.page_03 .tab_content {
	width: 100%;
}

 .page_03 #slide_box {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.page_03 .tab_box #tab1 {
  text-align: center;
}


.best_name {
  width: 100%;
  color: #fff;
  background: transparent;
  padding: 10px;
}


#content_container a {
  display: block;
}

.tab_box #tab1 img {
  width: 80%;
  vertical-align: bottom;
  border: none;
}

.tab_box #tab2 img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.tab_box #tab3 img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.prev_btn {
	position: absolute;
	top: calc(50% - (19.5px - 9.65px));
	left: 2%;
}

.prev_btn img {
	width: 50%;
	vertical-align: bottom;
	border: none;
}

.next_btn {
	position: absolute;
	top: calc(50% - (19.5px - 9.65px));
	right: 2%;
}

.next_btn img {
	width: 50%;
	vertical-align: bottom;
	border: none;
}

/* ---------------------------------------메뉴-------*/

.page_04 {
  width: 100%;
  background: #000 url("../img/menu/background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.menu_title {
  width: 50%;
  color: #fff;
  padding: 5% 0;
  margin: 0 auto;
  text-align: center;
}

.menu_title span {
  font-size: 1.5em;
  margin-right: 1%;
}

.menu_title p {
  font-size: 3em;
}

.menu_con {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.menu_chocolate,
.menu_dessert,
.menu_icecream,
.menu_drink {
  width: 23.5%;
  float: left;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.menu_con .mar {
  margin-right: 2%;
}

.menu_con a {
  display: block;
}

.menu_con img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.menu_con p {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5% 0;
  font-size: 1.2em;
}

/* ---------------------------------------이벤트-------*/

.page_05 {
  width: 100%;
  background: #131313;
  margin-bottom: 100px;
}

.event_title {
  color: #fff;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  padding: 5% 0;
}

.event_con {
  width: 100%;
  overflow: hidden;
}

.event_01,
.event_02,
.event_03 {
  width: 30%;
  float: left;
  margin: 0 2.5%;
}

.event_02 {
  margin: 0;
}

.event_01_image,
.event_02_image,
.event_03_image {
  width: auto;
  height: 200px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

div.event_con > div > a:hover > div {
  transform: scale(1.1);
}

.event_01_image {
  background: url("../img/event/event_01_banner.png") no-repeat center center /
    100%;
}

.event_02_image {
  background: url("../img/event/event_02_banner.png") no-repeat center center /
    100%;
}

.event_03_image {
  background: url("../img/event/event_03_banner.png") no-repeat center center /
    100%;
}

.event_01_title,
.event_02_title,
.event_03_title {
  width: 100%;
  text-align: center;
  padding: 2%;
}

.event_con > div p {
  font-size: 1em;
  height: 50px;
  margin: 20px 0;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  line-height: 1.5;
  color: #fff;
}

.event_con .btn {
  width: 18%;
  color: #fff;
  text-align: center;
  margin: 30px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  background: #222;
}

.event_con .btn a {
  display: block;
  padding: 15%;
  color: #f7e18a;
}

.event_con .btn a:hover {
  background: #f7e18a;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  color: #000;
}

/* ---------------------------------------매거진-------*/

.page_06 {
  width: 100%;
  position: relative;
  padding: 200px 0;
}

.magazine_con {
  width: 90%;
  margin-left: 10%;
  overflow: hidden;
  background: #131313;
}

.magazine_img {
  width: 50%;
  float: left;
}

.magazine_img #magazine_img1 {
  width: 15%;
  position: absolute;
  top: 10%;
  left: 28%;
  z-index: 4;
}

.magazine_img #magazine_img2 {
  width: 15%;
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 3;
}

.magazine_img #magazine_img3 {
  width: 18%;
  position: absolute;
  top: 50%;
  left: 23%;
  z-index: 2;
}

.magazine_img #magazine_img4 {
  width: 10%;
  position: absolute;
  top: 60%;
  left: 40%;
  z-index: 1;
}

.magazine_img img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}

.magazine_text {
  width: 50%;
  color: #fff;
  margin-left: 62%;
  float: left;
  background: #131313;
  padding: 5% 0;
}

.magazine_text h1 {
  margin: 5% 0;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

.magazine_text p {
  line-height: 1.5;
  font-size: 1.2em;
}

.magazine_text .btn {
  float: left;
  width: 18%;
  color: #fff;
  text-align: center;
  margin: 5px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  background: #111;
  margin-top: 10%;
}

.magazine_text .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.magazine_text .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  color: #000;
}
/* ---------------------------------------비디오-------*/

.page_07 {
  width: 100%;
  margin-bottom: 200px;
}

.video_box {
  width: 100%;
  margin: 0 auto;
}

/* ---------------------------------------SNS-------*/

.page_08 {
  width: 100%;
  margin-bottom: 100px;
}

.sns_container {
  width: 750px;
  margin: 0 auto;
}

.sns_container .sns_box_01,
.sns_box_02,
.sns_box_03 {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.sns_container .co {
  width: 250px;
  height: 250px;
  float: left;
  overflow: hidden;
  position: relative;
}

.sns_container .co .text {
  width: 250px;
  height: 250px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  color: #fff;
  padding: 40% 20%;
}

.sns_container img {
  width: 250px;
  height: 250px;
  vertical-align: bottom;
  border: none;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.sns_container a:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.sns_container a:hover .text {
  display: block;
}

.sns_title p {
  background: #131313;
  color: #f7e18a;
  font-size: 1.5em;
  line-height: 250px;
}

/* ---------------------------------------매장-------*/

.page_09 {
  width: 100%;
  padding: 200px 0;
  padding-bottom: 400px;
  position: relative;
}

.page_09:hover .store_img_box > .store_img {
  opacity: 1;
}

.store_con {
  width: 80%;
  margin-right: 20%;
  overflow: hidden;
  background: #131313;
  padding: 5% 0;
}

.store_text {
  width: 50%;
  color: #fff;
  float: left;
  text-align: right;
  padding-right: 10%;
}

.store_text h1 {
  margin: 2% 0;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  font-family: "Nanum Myeongjo", serif;
}

.store_text p {
  line-height: 1.5;
  font-size: 1.2em;
}

.store_text .btn {
  width: 15%;
  color: #fff;
  text-align: center;
  margin: 5px auto;
  border: 1px solid #f7e18a;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  background: #111;
  margin-top: 10%;
  float: right;
}

.store_text .btn a {
  display: block;
  padding: 10%;
  color: #f7e18a;
}

.store_text .btn a:hover {
  background: #f7e18a;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  color: #000;
}

.store_img_box {
  width: 50%;
  float: right;
}

.store_img_box img {
  width: 100%;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
}

.store_img:nth-child(1) {
  width: 15%;
  position: absolute;
  top: 30%;
  right: 45%;
  z-index: 1;
  opacity: 0;
  transition: all 1s ease 0.5s;
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
}

.store_img:nth-child(2) {
  width: 16%;
  position: absolute;
  top: 10%;
  right: 32%;
  z-index: 2;
  opacity: 0;
  transition: all 1s ease 1s;
  -webkit-transition: all 1s ease 1s;
  -moz-transition: all 1s ease 1s;
}

.store_img:nth-child(3) {
  width: 30%;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 3;
  opacity: 0;
  transition: all 1s ease 1.5s;
  -webkit-transition: all 1s ease 1.5s;
  -moz-transition: all 1s ease 1.5s;
}

/* ---------------------------------------footer-------*/

.page_10 {
  width: 100%;
  background: #131313;
}

.footer_box {
  width: 100%;
}

.footer_box .box_01 {
  width: 100%;
  border-top: 1px solid #f7e18a;
  border-bottom: 1px solid #f7e18a;
  overflow: hidden;
  text-align: center;
}

.footer_logo_box {
  width: 20%;
  padding: 5% 0;
  float: left;
  text-align: center;
}

.footer_logo_box img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

.footer_content_box {
  width: 60%;
  float: left;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0;
  padding-left: 5%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  color: #fff;
}

.footer_content_box li {
  margin: 5% 0;
  color: #f7e18a;
}

.footer_content_box .site_map {
  width: 28.333%;
  float: left;
  margin-right: 5%;
}

.footer_content_box .aa {
  font-size: 0.75em;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.footer_content_box .aa:hover {
  text-decoration: underline;
  color: #f7e18a;
}

.site_map_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .customer_service {
  width: 28.333%;
  float: left;
  margin-right: 10%;
}

.customer_service_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .business_time {
  width: 28.333%;
  float: left;
}

.business_time_title {
  padding: 5% 0 5% 10%;
  font-weight: bold;
}

.image_tel {
  width: 100%;
}

.image_tel li {
  color: #fff;
  overflow: hidden;
}

.image_tel img {
  display: block;
  float: left;
  width: 5%;
  vertical-align: bottom;
  border: none;
}

.image_tel span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75em;
  color: #666;
}

.image_time li {
  color: #fff;
  overflow: hidden;
}

.image_time img {
  display: block;
  float: left;
  width: 5%;
  vertical-align: bottom;
  border: none;
}

.image_time span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75em;
  line-height: 1.5;
  color: #666;
}

.footer_sns_box {
  width: 20%;
  padding: 3% 0;
  float: left;
}

.footer_sns_box img {
	width: 10%;
	margin-left: 10px;
  vertical-align: bottom;
  border: none;
  padding: 10px 0;
  border: 1px solid transparent;
}

.footer_sns_box img:hover {
	border-bottom: 1px solid #f7e18a;
}


.box_02 {
  width: 100%;
  color: #fff;
  font-size: 0.4em;
  color: #666;
  line-height: 1.5;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

/* ---------------------------------------quick side-------*/

.quick_side {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  overflow: hidden;
}

.quick_side a {
  color: #fff;
  display: block;
}

.quick_side .image {
  float: right;
  line-height: 23px;
  text-align: center;
}

.plus_icon img {
  width: 30%;
  vertical-align: middle;
  border: none;
}

.plus_icon {
  width: 200px;
  background: rgba(19, 19, 19, 0.9);
  padding: 20px;
  padding-bottom: 5%;
  position: fixed;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  right: -200px;
  bottom: 125px;
}

.quick_side .a1 {
  line-height: 40px;
  padding-left: 10px;
}

.quick_side .a1 img {
	width: 15%;
	vertical-align: middle;
	border: none;
  line-height: 40px;
  margin-right: 20px;
}

.plus_icon .a1:hover {
  color: #f7e18a;
  background: #222;
}

#open_more {
  display: none;
}

#open_more:checked + .plus_icon {
  right: 20px;
  bottom: 125px;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
}

label.plus:hover {
  cursor: pointer;
}

.plus_image {
  margin: 20px;
  text-align: right;
}

.plus_image img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
}
.plus_image img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  width: 23px;
  height: 23px;
}

.up {
  margin: 20px;
  width: 23px;
  margin-left: 107px;
}

.up img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
}
.up img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  width: 23px;
  height: 23px;
}

/* ---------------------------------------feedback-------*/



/* ---------------------------------------반응형-------*/

@media all and (min-width: 1025px) {
}

@media all and (min-width: 769px) and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
  /* --------------------------------------대슬라이드-------*/
}
