		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #222;
		}
		

	
		/* ---------------------------------------네비게이션-------*/
		
				
			.page_01 header {
				width: 100%;
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.8);
				z-index :99999;
			}
			
			.logo {
				width: 78px;
				height: 54px;
				margin: 0px auto;
				position: relative;
			}		
			
			.logo img {
				width: 100%;
				vertical-align: bottom;
				border: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-bottom: -27px;
				margin-left: -39px;
			}

			ul.nav {
				width: 40%;
				margin: 0 auto;
				margin-top: 40px;
				line-height: 49px;
				text-align:center;
				overflow: hidden; 
				letter-spacing: 0.1em;
				text-indent: 0.1em;
			}

			.nav .home, .brand, .menu, .news, .store {
				width: 13.6%;
				float: left;
				color: #fff;
			}
			
			.store_detail li:nth-child(2) {
				font-size: 0.5rem;
				line-height: 15px;
				padding-top: 10px;
			}
			
			.nav a {
				display: block;	
				color: #fff;	
			}
			
			.nav .mar {
				margin-right: 8%;
			}
			
			.nav_hover {
				border-bottom: 1px solid transparent;				
			}
			
			.nav_hover:hover {
				color: #f7e18a;
				border-bottom: 1px solid #f7e18a;
			}		
			
			li ul {
				font-size: 0.75rem;
				height: 0px;
				-ms-transition-duration: 0.7s;
				-webkit-transition-duration: 0.7s;
				-moz-transition-duration: 0.7s;
				-o-transition-duration: 0.7s;
				transition-duration: 0.7s;		
			}
			
			header:hover li ul {
				height: 250px;
				transition-duration: 0.7s;
			}
		
			.detail_hover:hover {
			color: #f7e18a;
			}
			
			
			.join_content {
				color: #fff;
				background: url('../img/join/497136.jpg') no-repeat center center / cover;
				background-attachment: fixed;
				width: 100%;
				height: 0;
				padding-top: calc(600 / 1920 * 100%);
				text-align: center;
				border-bottom: 1px solid orange;
				position: relative;
			}
			
			.join_content p {
				width: 10%;
				letter-spacing: 0.1em;
				text-indent: 0.1em;
				line-height: 50px;
				font-size: 3em;
				font-weight: bold;
				position: absolute;
				top: calc(50% - 25px);
				left: calc(50% - 5%);
			}
			
		/* ---------------------------------------약관1-------*/
		.page_02 {
			width: 100%;
		}
		
		.page_02 .route {
			margin: 40px 2%;
			color: #666;
		}
		
		.process {
			width: 60%;
			margin: 100px auto;
			overflow: hidden;
		}
		
		.process .co {
			float: left;
			width: 24.25%;
			text-align: center;
			color: #fff;
		}
		
		.process .step_01,.step_02,.step_03 {
			margin-right: 1%;
		}
		
		.process img {
			width: 50%;
			vertical-align: bottom;
			border: none;
		}
		
		.step_text {
			width: 50%;
			font-size: 1.2em;
			font-weight: bold;
			margin: 0 auto;
			margin-bottom: 5%;
			line-height: 46px;
			border-bottom: 2px solid #f7e18a;
		}
		
		.step_01 p {
			color: #666;
			border-bottom: none;
		}
		
		.step_02 p {
			color: #666;
			border-bottom: none;
		}
		
		.step_04 p {
			color: #666;
			border-bottom: none;
		}
		
		
		.form_box {
			width: 90%;
			color: #fff;
			margin: 5% auto;
			padding: 2%;
			overflow: hidden;
			text-align: center;
			border: 1px solid silver;
			border-left: none;
			border-right: none;
		}
		
		fieldset {
			width: 100%;
			border: none;
		}
		
		 
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75em;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75em;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
		}
		
		.image_tel li {
			color: #fff;
			overflow: hidden;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 5%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75em;
		}
		
		.image_time li {
			color: #fff;
			overflow: hidden;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 5%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75em;
			line-height: 1.5;
		}
		
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75em;
			line-height: 1.5;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		
		