		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #222;
		}
		

	
		/* ---------------------------------------네비게이션-------*/
	
/* 브라운:#3e2723, 레몬:#f7e18a */

.page_01 {
  width: 100%;
  padding-top: 130px;
  background: #000;
  position: relative;
}

header {
  width: 100%;
  text-align: center;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
}

.nav_top {
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.rollingText {
  width: 30%;
  margin-left: 5%;
  float: left;
  background: #666;
  color: #ddd;
  background: none;
  outline: none;
  overflow: hidden;
  margin-top: 33px;
  padding: 5px 10px;
}

.rollingText .open-event {
	width: 70%;
	float: left;
	overflow: hidden;
}

.rollingText .control {
	width: 10%;
	float: left;
	text-align: right;
	height: 24px;
	line-height: 24px;
}

.control .play {
	font-size: 1.2em;
	margin-right: 10%;
}

.control .stop {
	font-size: 1.2em;	
}

.rollingText .notice-list {
	width: 90%;
	height: 24px;
	line-height: 24px;
	float: left;
	overflow: hidden;
}

.rollingText #bt5 {
	margin-left: 1%;
	width: 9%;
	float: right;
}

.rollingText #bt5 a {
	height: 12px;
	display: block;
	text-align: center;
}

.rollingText .open-event #bt5 .next img {
	width: 30%;
	vertical-align: top;
	border: none;
}

.rollingText .open-event #bt5 .prev img {
	width: 30%;
	vertical-align: bottom;
	border: none;
}


.rollingText .notice-list li {
	overflow: hidden;
	width: 330px;
}

.rollingText .notice-list li a {
	color: #ccc;
	float: left;
}

.rollingText .notice-list li a:hover {
	color: #f7e18a;
}

.rollingText .notice-list li p {
	font-size: 0.6em;
	float: right;
} 

.rollingText .on {
	color: #f7e18a;
}

.nav_logo {
  width: 10%;
  margin: 0 10%;
  display: block;
  float: left;
  text-align: center;
  padding-top: 13px;
  float: left;
}

.nav_logo #logo {
  vertical-align: bottom;
  border: none;
}

.myPage {
  width: 30%;
  margin-right: 5%;
  float: right;
  text-align: right;
  margin-top: 41px;
  overflow: hidden;
}

.myPage>div {
	display: inline-block;
	text-align: right;
}

.myPage div:nth-child(1) {
  width: 30%;
  margin-right: 2%;
}

.myPage div:nth-child(1) a {
  width: 10%;
  line-height: 30px;
  margin-left: 5%;
  display: inline-block;
}

.myPage div:nth-child(1) img {
	width: 100%;
  vertical-align: middle;
  border: none;
}

.myPage #searchBar {
  width: 60%;
  line-height: 26px;
  padding-left: 10px;
  outline: none;
  color: #ddd;
  background: #131313;
  border: none;
  transition: all 1s ease 0.1s;
  -webkit-transition: all 1s ease 0.1s;
  -moz-transition: all 1s ease 0.1s;
}

.myPage #searchBar:focus {
  width: 85%;
  color: #fff;
}

.myPage div:nth-child(2) {
  width: 15%;
  min-width: 75px;
  margin-right: 2%;
}

.myPage div:nth-child(2) a {
  color: #fff;
  line-height: 30px;
}

.myPage div:nth-child(2) img {
  width: 25%;
  vertical-align: middle;
  border: none;
  margin-right: 5px;
}

.myPage div:nth-child(3) {
  width: 15%;
  min-width: 75px;
}

.myPage div:nth-child(3) a {
  color: #fff;
  line-height: 29px;
}

.myPage div:nth-child(3) img {
  width: 25%;
  vertical-align: middle;
  border: none;
  margin-right: 5px;
}

nav {
  height: 50px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

ul.main_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul.main_container:nth-child(1) {
	margin-left: 30%;
}

ul.main_container > li.co {
  width: 8%;
  height: 100%;
  float: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

a.main_a {
  display: block;
  line-height: 50px;
  height: 100%;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

li.co:hover {
  background: rgba(34, 34, 34, 0.8);
}

li.co:hover .main_a {
  color: #f7e18a;
  cursor: pointer;
}

li.co ul.sub_box {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 130px;
  left: 0;
  z-index: 9999;
  background: rgba(19, 19, 19, 0.9);
}

li.co:hover ul.sub_box {
  height: 280px;
  padding: 20px;
}

li.co > ul.sub_box > li {
  width: 15%;
  float: left;
}

li.co > ul.sub_box > li:first-child {
  margin-left: 20%;
}

li.co > ul.sub_box > li:last-child {
  margin-right: 20%;
}

ul.sub_box > li > ul {
  margin-top: 10px;
}

ul.sub_box > li > ul > li > a {
  line-height: 30px;
  color: #fff;
}

ul.sub_box > li > ul > li > a:hover {
  color: #f7e18a;
}

ul.sub_box > li > span.sub_title {
  display: block;
  line-height: 49px;
  text-decoration: none;
  font-size: 1em;
  color: #f7e18a;
  border-bottom: 1px solid #f7e18a;
}

			.join_content {
				color: #fff;
				background: url('../img/join/497136.jpg') no-repeat center center / cover;
				background-attachment: fixed;
				width: 100%;
				height: 0;
				padding-top: calc(340 / 1920 * 100%);
				text-align: center;
				border-bottom: 1px solid orange;
				position: relative;
			}
			
			.join_content p {
				width: 10%;
				letter-spacing: 0.1em;
				text-indent: 0.1em;
				line-height: 50px;
				font-size: 3em;
				font-weight: bold;
				position: absolute;
				top: calc(50% - 25px);
				left: calc(50% - 5%);
			}
			
		/* ---------------------------------------본문1-------*/
		.page_02 {
			width: 100%;
		}
		
		.page_02 .route {
			margin: 40px 2%;
			color: #666;
		}
		
		.process {
			width: 60%;
			margin: 100px auto;
			overflow: hidden;
		}
		
		.process .co {
			float: left;
			width: 24.25%;
			text-align: center;
			color: #fff;
		}
		
		.process .step_01,.step_02,.step_03 {
			margin-right: 1%;
		}
		
		.process img {
			width: 50%;
			vertical-align: bottom;
			border: none;
		}
		
		.step_text {
			width: 50%;
			font-size: 1.2em;
			font-weight: bold;
			margin: 0 auto;
			margin-bottom: 5%;
			line-height: 46px;
			border-bottom: 2px solid #f7e18a;
		}
		
		.step_02 p {
			color: #666;
			border-bottom: none;
		}
		
		.step_03 p {
			color: #666;
			border-bottom: none;
		}
		
		.step_04 p {
			color: #666;
			border-bottom: none;
		}
		
		.membership_title_box {
			width: 60%;
			color: #fff;
			margin: 5% auto;
			padding: 3% 0;
			overflow: hidden;
			border: 1px solid silver;
		}
		
		.description {
			width: 40%;
			float: left;
			margin-left: 10%;
			margin-top: 2%;
		}
		
		.description ul {
			margin-top: 10%;
			margin-left: 5%;
		}
		
		.description ul li {
			list-style: disc;
		}
		
		.description .pp {
			margin: 20px 0;
			line-height: 1.5;			
		}
		
		.description .title_01 {
			font-size: 2em;
			font-weight: bold;
			line-height: 2em;
			border-bottom: 1px solid silver;
		}
		
		.title_01 span {
			color: #f7e18a
		}
		
		.mobile_img {
			width: 50%;
			float: right;
			text-align: center;
			padding-top: 3%;
		}
		
		.mobile_img img {
			width: 30%;
			vertical-align: bottom;
			border: none;
		}
		
		.check_btn {
			margin-top: 5%;
			width: 40%;
			margin: 0 auto;
			font-size: 1em;
		}
		.check_btn a {
			 width: 40%;
			 margin: 50px auto;
			 text-align: center;
			 background: #666;
			 color: #fff;
			display: block;
			line-height: 40px;
			border-radius: 5px;
		}
		
		 .check_btn a:hover {
			background: #333;
			color: #f7e18a;
			transition-duration: 0.5s;
		 }
		 
		
		.btn_box {
			width: 60%;
			margin: 0 auto;
			font-size: 1.2em;
			margin-bottom: 5%;
		}	
				
		 .btn a {
			 width: 10%;
			 margin: 50px auto;
			 text-align: center;
			 background: #666;
			 color: #fff;
			display: block;
			line-height: 50px;
		 }
		 
		 .btn a:hover {
			background: #333;
			color: #f7e18a;
			transition-duration: 0.5s;
		 }
		 

/* ---------------------------------------footer-------*/

.page_10 {
  width: 100%;
  background: #131313;
}

.footer_box {
  width: 100%;
}

.footer_box .box_01 {
  width: 100%;
  border-top: 1px solid #f7e18a;
  border-bottom: 1px solid #f7e18a;
  overflow: hidden;
  text-align: center;
}

.footer_logo_box {
  width: 20%;
  padding: 5% 0;
  float: left;
  text-align: center;
}

.footer_logo_box img {
  width: 50%;
  vertical-align: bottom;
  border: none;
}

.footer_content_box {
  width: 60%;
  float: left;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0;
  padding-left: 5%;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  color: #fff;
}

.footer_content_box li {
  margin: 5% 0;
  color: #f7e18a;
}

.footer_content_box .site_map {
  width: 28.333%;
  float: left;
  margin-right: 5%;
}

.footer_content_box .aa {
  font-size: 0.75em;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.footer_content_box .aa:hover {
  text-decoration: underline;
  color: #f7e18a;
}

.site_map_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .customer_service {
  width: 28.333%;
  float: left;
  margin-right: 10%;
}

.customer_service_title {
  padding: 5% 0;
  font-weight: bold;
}

.footer_content_box .business_time {
  width: 28.333%;
  float: left;
}

.business_time_title {
  padding: 5% 0 5% 10%;
  font-weight: bold;
}

.business_time .tel {
  color: #fff;
  overflow: hidden;
}

.business_time img {
  display: block;
  float: left;
  width: 5%;
  vertical-align: bottom;
  border: none;
}

.business_time .tel span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75em;
  color: #666;
}

.business_time .time {
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.business_time .time span {
  display: block;
  float: left;
  padding-left: 10px;
  text-indent: 0;
  font-size: 0.75em;
  line-height: 1.5;
  color: #666;
}

.footer_sns_box {
  width: 20%;
  padding: 3% 0;
  float: left;
}

.footer_sns_box img {
	width: 10%;
	margin-left: 10px;
  vertical-align: bottom;
  border: none;
  padding: 10px 0;
  border: 1px solid transparent;
}


.box_02 {
  width: 100%;
  color: #fff;
  font-size: 0.4em;
  color: #666;
  line-height: 1.5;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}

/* ---------------------------------------quick side-------*/

.quick_side {
  width: 150px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 998;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  overflow: hidden;
}

.quick_side a {
  color: #fff;
  display: block;
}

.quick_side .image {
  float: right;
  line-height: 23px;
  text-align: center;
}

.plus_icon img {
  width: 30%;
  vertical-align: middle;
  border: none;
}

.plus_icon {
  width: 200px;
  background: rgba(19, 19, 19, 0.9);
  padding: 20px;
  position: fixed;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  right: -200px;
  bottom: 125px;
}

.quick_side .a1 {
  line-height: 40px;
  padding-left: 10px;
}

.quick_side .a1 img {
	width: 15%;
	vertical-align: middle;
	border: none;
  line-height: 40px;
  margin-right: 20px;
}

.plus_icon .a1:hover {
  color: #f7e18a;
  background: #222;
}

#open_more {
  display: none;
}

#open_more:checked + .plus_icon {
  right: 20px;
  bottom: 125px;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
}

label.plus:hover {
  cursor: pointer;
}

.plus_image {
  margin: 20px;
  text-align: right;
}

.plus_image img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
}
.plus_image img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  width: 23px;
  height: 23px;
}

.up {
  margin: 20px;
  width: 23px;
  margin-left: 107px;
}

.up img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
}
.up img {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  width: 23px;
  height: 23px;
}
