		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		ul li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------네비게이션-------*/
			
.page_01 {
  width: 100%;
  padding-top: 150px;
  background: #000;
}

header {
	width: 100%;
	text-align: center;
	height: 150px;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	color: #fff;
	z-index: 9999;
}

.nav_top {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.rollingText {
	width: 15%;
	margin-left: 5%;
	float: left;
	margin-right: 25%;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #fff;
	color: #111;
	overflow: hidden;
	margin-top: 74px;
	padding: 5px;
}

.nav_logo #logo {
	vertical-align: bottom;
	border: none;
}


.nav_logo {
	width: 10%;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 21.5px 0;
	float: left;
}

.myPage {
	width: 40%;
	margin-right: 5%;
	float: right;	
	text-align: right;
	margin-top: 43px;
	overflow: hidden;
}


.myPage #searchBar {
	width: 30%;
	line-height: 26px;
	padding-left: 10px;
	outline: none;
	transition: all 1s ease 0.1s;
	-webkit-transition: all 1s ease 0.1s;
	-moz-transition: all 1s ease 0.1s;
}

.myPage #searchBar:focus {
	width: 40%;
}

.myPage div:nth-child(1) {
	width: 60%;
	float: left;
	margin-right: 2%;
}

.myPage div:nth-child(1) a {
	line-height: 30px;
	margin-left: 10px;	
}

.myPage div:nth-child(1) img {
	width: 4%;
	vertical-align: middle;
	border: none;
}

.myPage div:nth-child(2) {
	width: 12%;
	float: left;
	margin-right: 2%;
}

.myPage div:nth-child(2) a {
	color: #fff;
	line-height: 30px;
}

.myPage div:nth-child(2) img {
	width: 25%;
	vertical-align: middle;
	border: none;
	margin-right: 5px;
}

.myPage div:nth-child(3) {
	width: 12%;
	float: left;
}

.myPage div:nth-child(3) a {
	color: #fff;
	line-height: 29px;
}

.myPage div:nth-child(3) img {
	width: 25%;
	vertical-align: middle;
	border: none;
	margin-right: 5px;
}

nav {
	height: 50px;
	letter-spacing: 0.1em;
	text-indent: 0.1em;
}


ul.main_container {
	width: 100%;
	height: 100%;
	padding-left: 50%;
	overflow: hidden;
}

ul.main_container>li.co {
	width: 15%;
	height: 100%;
	float: left;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}
a.main_a {
	display: block;
	line-height: 50px;
	height: 100%;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

li.co:hover {
	background: rgba(34,34,34,.8);
}

li.co:hover .main_a {
	color: #f7e18a;
	cursor: pointer;
}

li.co ul.sub_box {
	width: 100%;
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 9999;
	background: rgba(19,19,19,.9);
}

li.co:hover ul.sub_box {
	height: 350px;
	padding: 20px;
}

li.co>ul.sub_box>li:first-child {
	width: 35%;
	margin:0 5%; 
}

li.co>ul.sub_box>li:last-child {
	margin-right: 5%;
}

li.co>ul.sub_box>li {
	width: 10%;
	float: left;
}

li.co>ul.sub_box>li>img {
	width: 100%;
	vertical-align: bottom;
	border: none;
	margin-top: 10%;
}

li.co>ul.sub_box>li>span {
	border-bottom: 1px solid #f7e18a;
}

li.co>ul.sub_box>li:first-child {
	margin-top: 25px;
}


ul.sub_box>li>ul {
	margin-top: 10px;	
}


ul.sub_box>li>ul>li>a {
	line-height: 40px;
	color: #fff;
}

ul.sub_box>li>ul>li>a:hover {
	color: #f7e18a;	
}

ul.sub_box>li>span.sub_title {
	display: block;
	line-height: 50px;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	color: #f7e18a;
}
	
		.menu_content {
			color: #fff;
			background: url('../img/menu/back_banner_02.jpg') no-repeat center center / cover;
			background-attachment: fixed;
			width: 100%;
			height: 0;
			padding-top: calc(600 / 1920 * 100%);
			text-align: center;
			border-bottom: 1px solid orange;
			position: relative;
		}
		
		.menu_content span {
				width: 10%;
				letter-spacing: 0.1em;
				text-indent: 0.1em;
				line-height: 50px;
				font-size: 3em;
				font-weight: bold;
				position: absolute;
				top: calc(50% - 25px);
				left: calc(50% - 5%);
		}

		/* ---------------------------------------NEWS-------*/

		
		.news_slide {
			width: 100%;
			margin-bottom: 100px;
		}
		
		.news_container {
			width: 100%;
			color: #fff;
			
		}
		
		.news_container .route {
			margin: 40px 2%;
			color: #666;
		}
		
		
		.news_container ul {
			width: 60%;
			margin: 0 auto;	
			overflow: hidden;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			text-align: center;
			margin-top: 100px;
			font-weight: bold;
		}
		
		.news_container ul a {
			display: block;
			padding: 5%;
		}
		
		.news_container ul a:hover {
			color: #f7e18a;
			background: #222;
		}
		
		.news_container li {
			width: 19%;
			float: left;
			line-height: 1.5;
		}
		
		.news_01 a {
			color: #fff;
			background: #666;
		}
		
		.news_02 a {
			color: #f7e18a;
			background: #222;			
		}
		
		.news_03 a {
			color: #fff;
			background: #666;			
		}
		
		.news_04 a {
			color: #fff;
			background: #666;			
		}
		
		.news_container .mar {
			margin-right: 8%;
		}
		

		/* ---------------------------------------NOTICE-------*/

		.notice_title {
			margin: 2% auto;
			width: 60%;
			text-align: center;
			line-height: 100px;
			font-size: 2em;
			font-weight: bold;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}

		 .search_bar {
			 width: 60%;
			 height: 50px;
			 margin: 2% auto;
			 overflow: hidden;
			 color: #111;
			outline: none;
		 }
		
		.search_bar .co {
			float: left;	
			height: 50px;
			line-height: 48px;
			border-radius: 5px;
		}
		
		.search_bar .filter {
			width: 9%;
			margin-right: 1%;
			padding-left: 10px;
			
		}
		.search_bar .search {
			width: 80%;
			padding-left: 10px;
		}
		.search_bar .enter {
			width: 9%;
			margin-left: 1%;
			background: #333;
			color: #fff;
			cursor: pointer;
			transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
		}
		.search_bar .enter:hover {
			background: #111;
		}
		
	
		table {
			width: 60%;
			margin: 0 auto;
		}
		
		.notice_table {
			width: 100%;
			margin-bottom: 200px;
			overflow: hidden;
		}
		
		table, tr, th,.common {
			border-collapse: collapse;
			text-align: center;
			border-top: 1px solid #111;
			border-bottom: 1px solid #111;
			padding: 2%;
		}
		
		th {
			border-top: 2px solid #111;
			border-bottom: 2px solid #111;
		}
		
		tbody tr:hover {
			background: #efebe9;
			transition-duration: 0.5s;
			cursor: pointer;
		}
		
		tbody a {
			text-align: left;
		}
		
		table a {
			color: #000;
			display: block;
			padding: 2%;
		}
		
		.number {
			width: 100%;
			margin: 3% auto;
			text-align: center;
		}
		
		.number a {
			font-size: 1em;
			display: inline-block;
			padding: 10px 15px;
		}
		
		.number a:hover {
			background: #efebe9;
			transition-duration: 0.2s;			
		}
		
		.number a:first-child {
			font-weight: bold;
		}
		
		.number a:last-child {
			font-weight: bold;
		}
		
		
		
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75em;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75em;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel li {
			color: #fff;
			float: left;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75em;
		}
		
		.image_time {
			overflow: hidden;
		}
		
		.image_time .time {
			float: left;
		}
	
		.image_time li {
			color: #fff;
			float: left;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75em;
		}
		
		
		.image_time .time_content {
			line-height: 20px;
			float: left;
		}
		
		.time_content .p_01 {
		}
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75em;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		