		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			color: #666;
		}
		
		ul li {
			list-style: none;
		}
		
		address {
			font-style: normal;			
		}
		
		body {
			font-family: 'Nanum Gothic', sans-serif;
			font-size:0.75em;
			margin:0 auto;
			background: #000;
		}
		

		
		
		/*body안에 웹사이트 기본 사이즈 0.75em 서체지정*/
	
		/* ---------------------------------------네비게이션-------*/
		
			.page_01 {
				width: 100%;
			}
			
			.page_01 header {
				width: 100%;
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.8);
				z-index :99999;
			}
			
			.logo {
				width: 78px;
				height: 54px;
				margin: 0px auto;
				position: relative;
			}		
			
			.logo img {
				width: 100%;
				vertical-align: bottom;
				border: none;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-bottom: -27px;
				margin-left: -39px;
			}

			ul.nav {
				width: 40%;
				margin: 0 auto;
				margin-top: 40px;
				line-height: 49px;
				text-align:center;
				overflow: hidden; 
				font-size: 1rem;
				letter-spacing: 0.1em;
				text-indent: 0.1em;
			}

			.nav .home, .brand, .menu, .news, .store {
				width: 13.6%;
				float: left;
				color: #fff;
			}
			
			.store_detail li:nth-child(2) {
				font-size: 0.5rem;
				line-height: 15px;
				padding-top: 10px;
			}
			
			.nav a {
				display: block;	
				color: #fff;	
			}
			
			.nav .mar {
				margin-right: 8%;
			}
			
			.nav_hover {
				border-bottom: 1px solid transparent;				
			}
			
			.nav_hover:hover {
				color: #f7e18a;
				border-bottom: 1px solid #f7e18a;
			}		
			
			li ul {
				font-size: 0.75rem;
				height: 0px;
			}
			
			header:hover li ul {
				height: 250px;
				transition-duration: 0.7s;
			}
		
			.detail_hover:hover {
			color: #f7e18a;
			}
			
			
			.store_content {
				color: #fff;
				background: url('../img/store/store_back_02.jpg') no-repeat;
				background-size: cover;
				width: 100%;
				height: 800px;
				margin: 0 auto;
				text-align: center;
				border-bottom: 1px solid orange;
				padding-top: 250px;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
				line-height: 1.5;
				font-size: 1rem;
			}
			
			.store_content span {
				width: 10%;
				margin: 0 auto;
				margin-top: 8%;
				display: block;
				font-weight: bold;
				font-size: 3rem;
				padding: 1%;
				letter-spacing: 0.2rem;
				text-indent: 0.2rem;
			}

		/* ---------------------------------------map-------*/
		
		.page_02 {
			width: 100%;
		}
		
		
		.page_02 .route {
			margin: 2%;
			color: #666;
		}
		
		.page_02 .store_1_title {
			font-size: 2rem;
			letter-spacing: 0.1rem;
			text-indent: 0.1rem;
			font-weight: bold;
			text-align: center;
			color: #fff;
			height: 150px;
			line-height: 150px;
		}
		
		.map_cate {
			width: 100%;
			height: 50px;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
		}
		
		.map_cate .co {
			width: 10%;
			float: left;
			border: 1px solid #111;
			line-height: 48px;
		}
		
		.map_cate .co a {
			display: block;
		}
		
		.map_cate .co a:hover {
			background: #222;
			color: #f7e18a;
			transition-duration: 0.7s;
		}
				
		.map_cate .domestic {
			margin-left: 40%;
			background: #222;
		}
		
		.map_cate .domestic a {
			color: #fff;
		}
				
		.map_cate .overseas {
			margin-right: 40%;
			background: #fff;
		}
		
		.map_container {
			width: 100%;
			height: 800px;
			margin: 100px auto;
			position: relative;
			text-align:center;
		}
		
		.map_container .search {
			width: 300px;
			height: 500px;
			position: absolute;
			background: #111;
			bottom: 10%;
			left: 10%;
			text-align: left;
		}
			
		.map_container .search_tool {
			width: 100%;
			height: 150px;
			padding: 20px;
		}
		

		.map_container .title {
			color: #fff;
			height: 40px;
			font-size: 1rem;
		}

		.search_tool .co {
			width: 100%;
			background: #fff;
			color: #111;
			height: 30px;
			line-height: 30px;
			padding-left: 10px;
		}
		
		.map_container .search_name {
			margin-bottom: 10px;
		}


		.map_container .result {
			width: 100%;
			height: 350px;
			background: #fff;
			padding: 20px;
			overflow: auto;
		}
		
		.result_quantity {
			font-size: 0.5rem;
			border-bottom: 2px solid #111;
			padding-bottom: 10px;
			color: #999;
		}
		
		.result_quantity span {
			color: #111;
		}
		
		.result_detail_box {
			width: 100%;
		}
		
		.result_detail_box .co {
			width: 100%;
			height: 60px;
			border-bottom: 2px solid #111;
		}
		
		.result_detail_box a {
			width: 100%;
			height: 100%;
			display: block;
			padding: 8px 0;
		}
		
		.result_detail_box a:hover {
			background: lightgray;
			transition-duration: 0.5s;
			color: #000;
		}
		
		
		.brand_logo {
			width: 25%;
			float: left;
			margin-right: 5%;
		}
		
		.brand_logo img {
			width: 90%;
			vertical-align: middle;
			border: none;
		}
		
		.local_box {
			width: 70%;
			float:right;
		}
		
		.local_box .local_name {
			font-weight: bold;
		}
		
		.local_contact {
			font-size: 0.5rem;
			padding-top: 5px;
		}
		
		
		
		/* ---------------------------------------footer-------*/
						
		.page_08 {
			width: 100%;
			background: #131313;
		}
		
		.footer_box {
			width: 100%;
			height: 500px;
		}
		
		.footer_box .box_01 {
			width: 100%;
			border-top: 1px solid #f7e18a;
			border-bottom: 1px solid #f7e18a;
			overflow: hidden;
			text-align: center;
		}
		
		.footer_logo_box {
			width: 20%;
			padding: 5% 0;	
			float: left;
			text-align: center;
		}
		
		.footer_logo_box img {
			width: 50%;
			vertical-align: bottom;
			border:none;
		}
		
		.footer_content_box {
			width: 60%;
			float: left;
			overflow: hidden;
			text-align: left;
			margin: 0 auto;
			padding: 2% 0;
			padding-left: 5%;
			font-size: 1.2em;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
			color: #fff;
		}
		
		.footer_content_box li {
			margin: 5% 0;
			color: #f7e18a;
		}
		
		.footer_content_box .site_map {
			width: 28.333%;
			float: left;
			margin-right: 5%;
		}
		
		.site_map a {
			font-size: 0.75rem;
		}
		
		.site_map a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.site_map_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		
		.footer_content_box .customer_service {
			width: 28.333%;
			float: left;
			margin-right: 10%;
		}
		
		.customer_service a {
			font-size: 0.75rem;
		}
		
		.customer_service a:hover {
			text-decoration: underline;
			color: #f7e18a;
		}
		
		.customer_service_title {
			padding: 5% 0;
			font-weight: bold;
		}	

		.footer_content_box .business_time {
			width: 28.333%;
			float: left;
		}
		
		.business_time_title {
			padding: 5% 0 5% 10%;
			font-weight: bold;
		}	
		
		.image_tel {
			width: 100%;
			overflow: hidden;
		}
		
		.image_tel li {
			color: #fff;
			float: left;
		}
		
		.image_tel img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_tel span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		.image_time {
			overflow: hidden;
		}
		
		.image_time .time {
			float: left;
		}
	
		.image_time li {
			color: #fff;
			float: left;
		}
		
		.image_time img {
			display: block;
			float: left;
			width: 7%;
			vertical-align: bottom;
			border: none;
		}
		
		.image_time span {
			display: block;
			float: left;
			padding-left: 10px;
			text-indent: 0;
			font-size: 0.75rem;
		}
		
		
		.image_time .time_content {
			line-height: 20px;
			float: left;
		}
		
		.time_content .p_01 {
		}
		
		.footer_sns_box {
			width: 20%;
			padding: 3% 0;
			float: left;
		}
		
		
		.footer_sns_box img {
			vertical-align: bottom;
			border: none;
		}
		
		.box_02 {
			width: 100%;
			color: #fff;
			font-size: 0.75rem;
			text-align: center;
			padding: 50px 0;
			letter-spacing: 0.1em;
			text-indent: 0.1em;
		}
		